#animatedModal {
  background-color: #FFFFFF;
  height: calc(100% - 76px) !important; }
  @media screen and (max-width: 500px) {
    #animatedModal {
      height: calc(100% - 60px) !important;
      top: 60px !important; } }
  #animatedModal .text-container {
    display: flex;
    width: 90%;
    margin: 100px auto;
    text-align: center; }
    #animatedModal .text-container .text {
      padding: 0 2%;
      height: 100%; }
      #animatedModal .text-container .text h3 {
        font-size: 38px; }
      #animatedModal .text-container .text p {
        font-size: 24px;
        height: auto; }
      @media screen and (max-width: 750px) {
        #animatedModal .text-container .text h3 {
          font-size: 24px; }
        #animatedModal .text-container .text p {
          font-size: 18px; } }
    #animatedModal .text-container .line {
      height: 200px;
      width: 15px;
      background-color: #666767;
      align-self: center; }
      @media screen and (max-width: 1100px) {
        #animatedModal .text-container .line {
          height: 5px;
          width: 200px;
          margin: 50px auto; } }
    @media screen and (max-width: 1100px) {
      #animatedModal .text-container {
        display: block; } }
  #animatedModal .modal-content {
    text-align: center;
    position: relative; }
    #animatedModal .modal-content .modal {
      display: none; }
    #animatedModal .modal-content .faction-logo {
      width: 60%;
      margin: 10% 0; }
      @media screen and (max-width: 960px) {
        #animatedModal .modal-content .faction-logo {
          width: 95%; } }
    #animatedModal .modal-content #hawaiian-modal {
      text-align: center;
      background: url("backgrounds/Hawaiin Background.jpg");
      position: relative; }
      #animatedModal .modal-content #hawaiian-modal #hawaiian-pouches {
        width: 100%; }
      #animatedModal .modal-content #hawaiian-modal #hawaiian-logo {
        margin-top: 100px;
        width: 50%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #hawaiian-modal #hawaiian-logo {
            width: 95%;
            margin-top: 100px; } }
      #animatedModal .modal-content #hawaiian-modal #hawaiian-business-cards {
        margin-top: 200px;
        width: 50%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #hawaiian-modal #hawaiian-business-cards {
            width: 95%;
            margin-top: 100px; } }
      #animatedModal .modal-content #hawaiian-modal #hawaiian-pouches {
        margin-top: 200px; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #hawaiian-modal #hawaiian-pouches {
            margin-top: 100px; } }
    #animatedModal .modal-content #asian-modal {
      text-align: center;
      background: url("backgrounds/AsianMagBG.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom; }
      #animatedModal .modal-content #asian-modal #asian-description {
        text-align: center;
        width: 80%;
        margin: 0 auto 200px; }
        #animatedModal .modal-content #asian-modal #asian-description h1 {
          color: #c12026;
          font-size: 56px;
          font-weight: 700; }
          @media screen and (max-width: 960px) {
            #animatedModal .modal-content #asian-modal #asian-description h1 {
              font-size: 36px; } }
        #animatedModal .modal-content #asian-modal #asian-description p {
          color: #65c0e6;
          font-size: 36px; }
          @media screen and (max-width: 960px) {
            #animatedModal .modal-content #asian-modal #asian-description p {
              font-size: 24px; } }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #asian-modal #asian-description p {
              font-size: 18px; } }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #asian-modal #asian-description {
            width: 90%;
            margin-bottom: 100px; } }
      #animatedModal .modal-content #asian-modal #asian-mag-cover {
        margin-bottom: 300px;
        width: 80%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #asian-modal #asian-mag-cover {
            width: 95%;
            margin-bottom: 100px; } }
      #animatedModal .modal-content #asian-modal #asian-mag-toc {
        margin-bottom: 300px;
        width: 80%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #asian-modal #asian-mag-toc {
            width: 95%;
            margin-bottom: 100px; } }
      #animatedModal .modal-content #asian-modal #asian-mag-spread {
        width: 80%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #asian-modal #asian-mag-spread {
            width: 95%; } }
    #animatedModal .modal-content #roman-modal {
      text-align: center;
      background: url("backgrounds/RomanMagBG.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      height: 100%; }
      @media screen and (max-width: 750px) {
        #animatedModal .modal-content #roman-modal {
          background-position: top; } }
      #animatedModal .modal-content #roman-modal #roman-description {
        text-align: center;
        width: 80%;
        margin: 0 auto 10%;
        text-shadow: 0 0 2px black; }
        #animatedModal .modal-content #roman-modal #roman-description h1 {
          color: #25b5e9;
          font-size: 56px;
          font-weight: 700; }
          @media screen and (max-width: 960px) {
            #animatedModal .modal-content #roman-modal #roman-description h1 {
              font-size: 36px; } }
        #animatedModal .modal-content #roman-modal #roman-description p {
          color: #FFFFFF;
          font-size: 36px; }
          @media screen and (max-width: 960px) {
            #animatedModal .modal-content #roman-modal #roman-description p {
              font-size: 24px; } }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #roman-modal #roman-description p {
              font-size: 18px; } }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #roman-modal #roman-description {
            width: 90%; } }
      #animatedModal .modal-content #roman-modal #roman-mag-cover {
        margin-bottom: 35%;
        width: 80%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #roman-modal #roman-mag-cover {
            width: 95%; } }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #roman-modal #roman-mag-cover {
            margin-bottom: 25%; } }
      #animatedModal .modal-content #roman-modal #roman-mag-toc {
        margin-bottom: 25%;
        width: 80%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #roman-modal #roman-mag-toc {
            width: 95%; } }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #roman-modal #roman-mag-toc {
            margin-bottom: 50%; } }
      #animatedModal .modal-content #roman-modal #roman-mag-spread {
        width: 80%;
        margin-bottom: 2%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #roman-modal #roman-mag-spread {
            width: 95%; } }
    #animatedModal .modal-content #logos-modal #logos-header {
      width: 100%; }
    #animatedModal .modal-content #logos-modal #logos-grid {
      width: 80%;
      margin: 200px auto;
      text-align: center; }
      #animatedModal .modal-content #logos-modal #logos-grid img {
        display: block;
        width: 40%;
        height: 100%;
        float: left;
        clear: both; }
        #animatedModal .modal-content #logos-modal #logos-grid img:nth-child(even) {
          float: right; }
        @media screen and (max-width: 1100px) {
          #animatedModal .modal-content #logos-modal #logos-grid img {
            float: none;
            margin-bottom: 100px; } }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #logos-modal #logos-grid img {
            width: 100%; } }
      @media screen and (max-width: 1100px) {
        #animatedModal .modal-content #logos-modal #logos-grid {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          margin: 100px auto; } }
      @media screen and (max-width: 750px) {
        #animatedModal .modal-content #logos-modal #logos-grid {
          margin: 100px auto 0; } }
    #animatedModal .modal-content #prolific-modal {
      text-align: center; }
      #animatedModal .modal-content #prolific-modal #prolific-header {
        width: 100%; }
      #animatedModal .modal-content #prolific-modal h1 {
        color: #ac202a;
        font-size: 60px;
        width: 50%;
        padding-bottom: 40px;
        margin: 200px auto 50px;
        border-bottom: 5px solid grey; }
        @media screen and (max-width: 1050px) {
          #animatedModal .modal-content #prolific-modal h1 {
            font-size: 40px;
            width: 95%; } }
      #animatedModal .modal-content #prolific-modal #mockups {
        background: url("backgrounds/ProlificRedGradient.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
        width: 100%;
        padding: 0 5%;
        margin: 300px auto 0; }
        @media screen and (max-width: 1050px) {
          #animatedModal .modal-content #prolific-modal #mockups {
            margin: 100px auto 0; } }
        #animatedModal .modal-content #prolific-modal #mockups .web-mockup {
          width: 75%;
          margin-bottom: 300px; }
          @media screen and (max-width: 1050px) {
            #animatedModal .modal-content #prolific-modal #mockups .web-mockup {
              width: 100%;
              margin-bottom: 100px; } }
        #animatedModal .modal-content #prolific-modal #mockups .web-mockup:nth-child(odd) {
          float: right; }
        #animatedModal .modal-content #prolific-modal #mockups .web-mockup:last-child {
          margin-bottom: 0; }
      #animatedModal .modal-content #prolific-modal #mockup {
        width: 90%;
        margin-top: -25%; }
      #animatedModal .modal-content #prolific-modal #icons {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap; }
        @media screen and (max-width: 1050px) {
          #animatedModal .modal-content #prolific-modal #icons {
            width: 95%; } }
        #animatedModal .modal-content #prolific-modal #icons .icon-container {
          flex-basis: 25%;
          margin-bottom: 100px; }
          #animatedModal .modal-content #prolific-modal #icons .icon-container .icon {
            height: 200px;
            margin-bottom: 25px; }
          #animatedModal .modal-content #prolific-modal #icons .icon-container p {
            font-size: 18px; }
          @media screen and (max-width: 1400px) {
            #animatedModal .modal-content #prolific-modal #icons .icon-container {
              flex-basis: calc(100% / 3); } }
          @media screen and (max-width: 1050px) {
            #animatedModal .modal-content #prolific-modal #icons .icon-container {
              flex-basis: 50%; } }
          @media screen and (max-width: 700px) {
            #animatedModal .modal-content #prolific-modal #icons .icon-container {
              flex-basis: 100%; } }
    #animatedModal .modal-content #bsm-modal {
      text-align: center; }
      #animatedModal .modal-content #bsm-modal .text-container h3 {
        color: #42B549; }
      #animatedModal .modal-content #bsm-modal .text-container p {
        color: #666767; }
      #animatedModal .modal-content #bsm-modal #bsm-header {
        position: relative;
        text-align: center;
        width: 100%; }
        #animatedModal .modal-content #bsm-modal #bsm-header #bsm-header-image {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1; }
        #animatedModal .modal-content #bsm-modal #bsm-header #bsm-logo {
          width: 35%;
          margin: 7% 0; }
          @media screen and (max-width: 960px) {
            #animatedModal .modal-content #bsm-modal #bsm-header #bsm-logo {
              width: 60%;
              margin: 24% 0; } }
      #animatedModal .modal-content #bsm-modal #new-old {
        display: flex;
        width: 80%;
        margin: 200px auto; }
        #animatedModal .modal-content #bsm-modal #new-old .bsm-logo-box {
          flex-basis: 50%; }
          #animatedModal .modal-content #bsm-modal #new-old .bsm-logo-box p {
            font-size: 28px;
            color: #42B549; }
            @media screen and (max-width: 500px) {
              #animatedModal .modal-content #bsm-modal #new-old .bsm-logo-box p {
                font-size: 21px; } }
          #animatedModal .modal-content #bsm-modal #new-old .bsm-logo-box img {
            margin-top: 100px;
            width: 50%; }
            @media screen and (max-width: 1100px) {
              #animatedModal .modal-content #bsm-modal #new-old .bsm-logo-box img {
                width: 80%; } }
            @media screen and (max-width: 500px) {
              #animatedModal .modal-content #bsm-modal #new-old .bsm-logo-box img {
                margin-top: 50px; } }
          @media screen and (max-width: 500px) {
            #animatedModal .modal-content #bsm-modal #new-old .bsm-logo-box {
              width: 100%;
              margin-bottom: 100px; } }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #bsm-modal #new-old {
            width: 95%; } }
        @media screen and (max-width: 500px) {
          #animatedModal .modal-content #bsm-modal #new-old {
            display: block;
            margin: 100px auto; } }
      #animatedModal .modal-content #bsm-modal #family-set {
        width: 80%;
        text-align: center;
        margin: auto; }
        #animatedModal .modal-content #bsm-modal #family-set p {
          color: #42B549;
          font-size: 28px; }
          @media screen and (max-width: 500px) {
            #animatedModal .modal-content #bsm-modal #family-set p {
              font-size: 21px; } }
        #animatedModal .modal-content #bsm-modal #family-set #family-logos {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between; }
          #animatedModal .modal-content #bsm-modal #family-set #family-logos img {
            width: 25%;
            margin: 100px 25px 0; }
            @media screen and (max-width: 1100px) {
              #animatedModal .modal-content #bsm-modal #family-set #family-logos img {
                width: 40%;
                margin: 100px 5% 0; } }
            @media screen and (max-width: 500px) {
              #animatedModal .modal-content #bsm-modal #family-set #family-logos img {
                margin: 50px 5% 0;
                width: 80%; } }
          @media screen and (max-width: 500px) {
            #animatedModal .modal-content #bsm-modal #family-set #family-logos {
              display: block; } }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #bsm-modal #family-set {
            width: 95%; } }
      #animatedModal .modal-content #bsm-modal #left-bar {
        position: absolute;
        left: 0;
        top: 25%;
        width: 5%; }
      #animatedModal .modal-content #bsm-modal #right-bar {
        position: absolute;
        right: 0;
        width: 5%;
        top: 50%; }
      #animatedModal .modal-content #bsm-modal #spreads {
        margin: 200px auto 0;
        position: relative;
        width: 80%; }
        @media screen and (max-width: 1100px) {
          #animatedModal .modal-content #bsm-modal #spreads {
            width: 95%; } }
        #animatedModal .modal-content #bsm-modal #spreads img {
          width: 100%; }
        #animatedModal .modal-content #bsm-modal #spreads .bsm-item {
          width: 50%;
          float: right;
          clear: both; }
          #animatedModal .modal-content #bsm-modal #spreads .bsm-item:nth-child(even) {
            float: left; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #bsm-modal #spreads .bsm-item {
              width: 100%;
              margin-bottom: 50px; } }
        #animatedModal .modal-content #bsm-modal #spreads .spread-with-header p {
          margin-bottom: 100px;
          color: #42B549;
          font-size: 28px; }
          @media screen and (max-width: 500px) {
            #animatedModal .modal-content #bsm-modal #spreads .spread-with-header p {
              font-size: 21px;
              margin-bottom: 50px; } }
        #animatedModal .modal-content #bsm-modal #spreads .spread-with-header #front-back {
          width: 78%;
          margin: auto;
          display: flex; }
          #animatedModal .modal-content #bsm-modal #spreads .spread-with-header #front-back p {
            text-align: center;
            flex-basis: 50%;
            margin: 0;
            color: #666767;
            font-size: 23px; }
            @media screen and (max-width: 500px) {
              #animatedModal .modal-content #bsm-modal #spreads .spread-with-header #front-back p {
                font-size: 16px; } }
        #animatedModal .modal-content #bsm-modal #spreads #diag-spreads {
          width: 100%;
          margin: 100px auto 0;
          position: relative; }
          #animatedModal .modal-content #bsm-modal #spreads #diag-spreads #diag-left {
            width: 60%;
            position: absolute;
            left: 0;
            top: 500px; }
            @media screen and (max-width: 1100px) {
              #animatedModal .modal-content #bsm-modal #spreads #diag-spreads #diag-left {
                top: 300px; } }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #bsm-modal #spreads #diag-spreads #diag-left {
                position: static;
                width: 100%; } }
          #animatedModal .modal-content #bsm-modal #spreads #diag-spreads #diag-right {
            width: 60%;
            position: absolute;
            right: 0; }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #bsm-modal #spreads #diag-spreads #diag-right {
                position: static;
                width: 100%; } }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #bsm-modal #spreads #diag-spreads {
              margin: auto; } }
    #animatedModal .modal-content #nalac-modal {
      position: relative;
      text-align: center; }
      #animatedModal .modal-content #nalac-modal .text-container p {
        color: #666767; }
      #animatedModal .modal-content #nalac-modal #nalac-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1; }
      #animatedModal .modal-content #nalac-modal #nalac-header-logo {
        width: 40%;
        margin: 10% auto;
        z-index: 1; }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #nalac-modal #nalac-header-logo {
            width: 60%;
            margin: 5% auto; } }
      #animatedModal .modal-content #nalac-modal #nalac-text {
        margin-top: 100px; }
      #animatedModal .modal-content #nalac-modal .nalac-text-section {
        width: 80%;
        margin: 0 auto 50px;
        text-align: left; }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #nalac-modal .nalac-text-section {
            width: 95%; } }
        #animatedModal .modal-content #nalac-modal .nalac-text-section h3 {
          font-size: 46px;
          font-weight: bold;
          margin-bottom: 10px; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal .nalac-text-section h3 {
              font-size: 26px; } }
        #animatedModal .modal-content #nalac-modal .nalac-text-section p {
          color: #5A5A5A;
          font-size: 23px; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal .nalac-text-section p {
              font-size: 18px; } }
      #animatedModal .modal-content #nalac-modal #logo-compare {
        width: 80%;
        margin: 200px auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #nalac-modal #logo-compare {
            width: 95%;
            margin: 200px auto 0; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(1) {
              order: 1; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(2) {
              order: 3; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(3) {
              order: 2; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(4) {
              order: 4; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(5) {
              order: 5; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(6) {
              order: 6; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(7) {
              order: 7; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(8) {
              order: 8; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item {
              margin-bottom: 100px; }
              #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:last-child {
                margin-bottom: 50px; } }
        #animatedModal .modal-content #nalac-modal #logo-compare p {
          width: 50%;
          margin-bottom: 50px;
          font-size: 22px; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal #logo-compare p {
              margin-bottom: 0;
              width: 100%; } }
        #animatedModal .modal-content #nalac-modal #logo-compare img {
          width: 40%;
          margin: 0 5%; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal #logo-compare img {
              width: 100%;
              margin: 0; } }
        #animatedModal .modal-content #nalac-modal #logo-compare #logos-vertical {
          width: 50%; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal #logo-compare #logos-vertical {
              width: 100%; } }
          #animatedModal .modal-content #nalac-modal #logo-compare #logos-vertical img {
            width: 50%;
            margin: 0; }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #nalac-modal #logo-compare #logos-vertical img {
                width: 100%; } }
      #animatedModal .modal-content #nalac-modal #blue-gradient {
        background: url("backgrounds/NALAC Gradient.png");
        background-position: top;
        width: 100%; }
        #animatedModal .modal-content #nalac-modal #blue-gradient .image {
          padding: 0;
          flex-basis: 50%; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient .image {
              flex-basis: 100%; } }
          #animatedModal .modal-content #nalac-modal #blue-gradient .image img {
            width: 100%; }
        #animatedModal .modal-content #nalac-modal #blue-gradient #homepage {
          width: 80%;
          margin: 0 auto 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap; }
          @media screen and (max-width: 1200px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #homepage {
              padding-top: 5%; } }
          @media screen and (max-width: 960px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #homepage {
              padding-top: 10%; } }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #homepage {
              padding-top: 5%;
              margin: 0 auto 100px;
              width: 95%; } }
          @media screen and (max-width: 500px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #homepage {
              padding-top: 20%; } }
        #animatedModal .modal-content #nalac-modal #blue-gradient #store {
          width: 100%; }
          #animatedModal .modal-content #nalac-modal #blue-gradient #store img {
            width: 100%; }
          #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-desktop {
            max-width: 1440px;
            margin: auto; }
            @media screen and (max-width: 1440px) {
              #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-desktop {
                display: none; } }
          #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-cropped {
            width: 100%;
            display: none; }
            @media screen and (max-width: 1440px) {
              #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-cropped {
                display: block; } }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-cropped {
                display: none; } }
          #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-mobile {
            width: 100%;
            display: none; }
            #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-mobile img {
              margin-bottom: 25px; }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-mobile {
                display: block; } }
        #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved {
          width: 80%;
          margin: 200px auto; }
          #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved img {
            width: 100%; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved {
              width: 95%;
              margin: 100px auto; } }
          #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved #get-involved-desktop {
            width: 100%; }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved #get-involved-desktop {
                display: none; } }
          #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved #get-involved-mobile {
            display: none; }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved #get-involved-mobile {
                display: block; } }
            #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved #get-involved-mobile img:nth-child(2) {
              margin-top: -20%; }
        #animatedModal .modal-content #nalac-modal #blue-gradient #billboard {
          background: url("backgrounds/NALAC Clouds.png");
          background-size: cover;
          width: 100%;
          margin: auto;
          padding-bottom: 100px;
          display: flex;
          align-items: center; }
          #animatedModal .modal-content #nalac-modal #blue-gradient #billboard .image {
            width: 80%;
            margin: auto; }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #nalac-modal #blue-gradient #billboard .image {
                width: 100%; } }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #nalac-modal #blue-gradient #billboard .image:nth-child(2) {
                display: none; } }
            #animatedModal .modal-content #nalac-modal #blue-gradient #billboard .image:nth-child(3) {
              display: none; }
              @media screen and (max-width: 750px) {
                #animatedModal .modal-content #nalac-modal #blue-gradient #billboard .image:nth-child(3) {
                  display: block; } }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #billboard {
              background: none;
              width: 95%;
              display: block;
              padding-bottom: 0; } }
    #animatedModal .modal-content #motion-modal {
      padding: 200px 20% 0;
      background-color: #9FDFFA; }
      @media screen and (max-width: 1100px) {
        #animatedModal .modal-content #motion-modal {
          padding: 100px 2.5% 0; } }
      #animatedModal .modal-content #motion-modal .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0; }
        #animatedModal .modal-content #motion-modal .video-container iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
      #animatedModal .modal-content #motion-modal p {
        padding: 10px 0 200px 0;
        text-align: center;
        font-size: 14px;
        color: #5A5A5A; }
        @media screen and (max-width: 1100px) {
          #animatedModal .modal-content #motion-modal p {
            padding: 10px 0 100px 0; } }
    #animatedModal .modal-content #jcc-modal #jcc-top, #animatedModal .modal-content #jcc-modal #middle-bottom {
      background: #d9d9d9;
      background: linear-gradient(180deg, #d9d9d9 0%, white 50%, #d9d9d9 100%); }
    #animatedModal .modal-content #jcc-modal #bottom {
      background: #e7c59c;
      padding: 10% 0; }
    #animatedModal .modal-content #jcc-modal #middle-bottom {
      padding: 10% 0; }
    #animatedModal .modal-content #jcc-modal img {
      max-width: 100%; }
    #animatedModal .modal-content #jcc-modal h3 {
      font-size: 38px; }
    #animatedModal .modal-content #jcc-modal p {
      font-size: 24px; }
    #animatedModal .modal-content #jcc-modal #jcc-desc {
      width: 80%;
      margin: auto;
      text-align: center;
      padding: 10% 0; }
      @media screen and (max-width: 750px) {
        #animatedModal .modal-content #jcc-modal #jcc-desc {
          width: 95%; }
          #animatedModal .modal-content #jcc-modal #jcc-desc h3 {
            font-size: 24px; }
          #animatedModal .modal-content #jcc-modal #jcc-desc p {
            font-size: 18px; } }
    #animatedModal .modal-content #jcc-modal #jcc-travel, #animatedModal .modal-content #jcc-modal #advertising {
      width: 80%;
      margin: 0 auto 10%;
      display: flex; }
      @media screen and (max-width: 750px) {
        #animatedModal .modal-content #jcc-modal #jcc-travel, #animatedModal .modal-content #jcc-modal #advertising {
          display: block; } }
    #animatedModal .modal-content #jcc-modal #jcc-cocktail {
      width: 80%;
      margin: auto; }
      #animatedModal .modal-content #jcc-modal #jcc-cocktail #cards {
        width: 100%;
        margin: 0 auto 10%; }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #jcc-modal #jcc-cocktail #cards img:first-child {
            display: none; } }
        #animatedModal .modal-content #jcc-modal #jcc-cocktail #cards img:last-child {
          display: none; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #jcc-modal #jcc-cocktail #cards img:last-child {
              display: block; } }
      #animatedModal .modal-content #jcc-modal #jcc-cocktail #raffle {
        margin: auto;
        width: 80%; }
        #animatedModal .modal-content #jcc-modal #jcc-cocktail #raffle img {
          padding-bottom: 10%; }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #jcc-modal #jcc-cocktail #raffle {
            width: 95%; } }
      #animatedModal .modal-content #jcc-modal #jcc-cocktail #jcc-staggered {
        width: 80%;
        margin: auto; }
        #animatedModal .modal-content #jcc-modal #jcc-cocktail #jcc-staggered img {
          padding-bottom: 10%; }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #jcc-modal #jcc-cocktail #jcc-staggered {
            width: 95%; } }
        #animatedModal .modal-content #jcc-modal #jcc-cocktail #jcc-staggered #staggered-left {
          width: 50%;
          float: left; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #jcc-modal #jcc-cocktail #jcc-staggered #staggered-left {
              float: none;
              width: 100%;
              margin: auto; } }
        #animatedModal .modal-content #jcc-modal #jcc-cocktail #jcc-staggered #staggered-right {
          padding-top: 30%;
          width: 50%;
          float: left; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #jcc-modal #jcc-cocktail #jcc-staggered #staggered-right {
              float: none;
              width: 100%;
              margin: auto;
              padding: 0; } }
    #animatedModal .modal-content #jcc-modal #blue-section {
      padding: 10% 0 0;
      background: #38aae8;
      background: linear-gradient(260deg, #38aae8 0%, #66beec 100%);
      width: 100%; }
      #animatedModal .modal-content #jcc-modal #blue-section #cover-pen {
        width: 100%;
        box-sizing: border-box;
        padding-left: 10%;
        display: flex;
        margin-bottom: 10%; }
        #animatedModal .modal-content #jcc-modal #blue-section #cover-pen img {
          padding-bottom: 10%; }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #jcc-modal #blue-section #cover-pen {
            width: 95%;
            margin: auto;
            padding: 0;
            display: block; } }
        #animatedModal .modal-content #jcc-modal #blue-section #cover-pen #giveaway {
          flex-basis: 50%; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #jcc-modal #blue-section #cover-pen #giveaway {
              width: 100%; } }
        #animatedModal .modal-content #jcc-modal #blue-section #cover-pen #pen-container {
          position: relative;
          flex-basis: 50%; }
          #animatedModal .modal-content #jcc-modal #blue-section #cover-pen #pen-container img {
            width: 35%;
            position: absolute;
            right: 0;
            top: 30%; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #jcc-modal #blue-section #cover-pen #pen-container {
              display: none; } }
      #animatedModal .modal-content #jcc-modal #blue-section #camera {
        width: 100%;
        box-sizing: border-box;
        padding-right: 10%;
        display: flex;
        margin-bottom: 10%; }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #jcc-modal #blue-section #camera {
            width: 95%;
            margin: auto;
            padding: 0;
            display: block; }
            #animatedModal .modal-content #jcc-modal #blue-section #camera img {
              padding-bottom: 10%; } }
        #animatedModal .modal-content #jcc-modal #blue-section #camera #camera-container {
          position: relative;
          flex-basis: 50%; }
          #animatedModal .modal-content #jcc-modal #blue-section #camera #camera-container img {
            width: 60%;
            position: absolute;
            left: 0;
            top: 25%; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #jcc-modal #blue-section #camera #camera-container {
              display: none; } }
        #animatedModal .modal-content #jcc-modal #blue-section #camera #house {
          flex-basis: 50%; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #jcc-modal #blue-section #camera #house {
              width: 100%; } }
      #animatedModal .modal-content #jcc-modal #blue-section #happy-holidays, #animatedModal .modal-content #jcc-modal #blue-section #amazon, #animatedModal .modal-content #jcc-modal #blue-section #ohm, #animatedModal .modal-content #jcc-modal #blue-section #card-party {
        width: 80%;
        padding-bottom: 10%; }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #jcc-modal #blue-section #happy-holidays, #animatedModal .modal-content #jcc-modal #blue-section #amazon, #animatedModal .modal-content #jcc-modal #blue-section #ohm, #animatedModal .modal-content #jcc-modal #blue-section #card-party {
            width: 95%; } }
      #animatedModal .modal-content #jcc-modal #blue-section #annual-meeting {
        width: 80%;
        margin: 0 auto 10%; }
        #animatedModal .modal-content #jcc-modal #blue-section #annual-meeting img {
          width: 50%;
          float: left; }
          #animatedModal .modal-content #jcc-modal #blue-section #annual-meeting img:last-child {
            padding-top: 15%; }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #jcc-modal #blue-section #annual-meeting img:last-child {
                padding: 0; } }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #jcc-modal #blue-section #annual-meeting {
            display: block; }
            #animatedModal .modal-content #jcc-modal #blue-section #annual-meeting img {
              float: none;
              width: 80%;
              padding-bottom: 10%; } }
    #animatedModal .modal-content #jcc-modal #party {
      width: 80%;
      margin: 0 auto 10%; }
      #animatedModal .modal-content #jcc-modal #party img {
        width: 50%;
        float: left; }
        #animatedModal .modal-content #jcc-modal #party img:first-child {
          padding-top: 15%; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #jcc-modal #party img:first-child {
              padding: 0 0 10%; } }
      @media screen and (max-width: 750px) {
        #animatedModal .modal-content #jcc-modal #party {
          display: block; }
          #animatedModal .modal-content #jcc-modal #party img {
            float: none;
            width: 80%; } }
    #animatedModal .modal-content #jcc-modal #amazon, #animatedModal .modal-content #jcc-modal #ohm, #animatedModal .modal-content #jcc-modal #party, #animatedModal .modal-content #jcc-modal #card-party {
      padding-top: 10%; }
    @media screen and (max-width: 750px) {
      #animatedModal .modal-content #jcc-modal #amazon, #animatedModal .modal-content #jcc-modal #card-party {
        padding: 0; } }
    #animatedModal .modal-content #jcc-modal #road-rules {
      padding-bottom: 10%; }
      @media screen and (max-width: 750px) {
        #animatedModal .modal-content #jcc-modal #road-rules {
          padding: 0; } }
      #animatedModal .modal-content #jcc-modal #road-rules img {
        width: 80%; }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #jcc-modal #road-rules img {
            width: 95%;
            margin: auto; } }
        #animatedModal .modal-content #jcc-modal #road-rules img:first-child {
          float: left; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #jcc-modal #road-rules img:first-child {
              float: none; } }
        #animatedModal .modal-content #jcc-modal #road-rules img:last-child {
          float: right; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #jcc-modal #road-rules img:last-child {
              float: none; } }
    #animatedModal .modal-content #jcc-modal #homeless {
      width: 50%; }
      @media screen and (max-width: 750px) {
        #animatedModal .modal-content #jcc-modal #homeless {
          width: 80%; } }
    @media screen and (max-width: 750px) {
      #animatedModal .modal-content #jcc-modal #advertising img:first-child {
        padding-bottom: 10%; } }
