.fade-up {
  transform: translateY(100px);
  opacity: 0; }
  @media screen and (max-width: 750px) {
    .fade-up {
      transform: translateY(50px); } }

.bottom-image {
  transform: translateY(0);
  opacity: 0; }

.menu-button {
  display: none;
  z-index: 9999;
  float: right;
  top: 10px;
  right: 20px;
  position: absolute;
  height: 40px;
  width: 40px;
  box-sizing: border-box; }
  .menu-button .hamburger {
    width: 100%;
    height: 100%;
    position: absolute; }
    .menu-button .hamburger span {
      transition: 0.4s;
      display: block;
      width: 100%;
      height: 2px;
      background-color: white;
      margin: 8px 0;
      border-radius: 2px; }
      .menu-button .hamburger span:nth-child(1) {
        transition-delay: 0.3s; }
      .menu-button .hamburger span:nth-child(2) {
        transition-delay: 0.4s; }
      .menu-button .hamburger span:nth-child(3) {
        transition-delay: 0.5s; }
  .menu-button .cross {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotate(45deg); }
    .menu-button .cross span {
      transition: 0.4s;
      display: block;
      background-color: white; }
      .menu-button .cross span:nth-child(1) {
        transition-delay: 0s;
        position: absolute;
        top: 18px;
        width: 0;
        height: 2px; }
      .menu-button .cross span:nth-child(2) {
        transition-delay: 0.1s;
        position: absolute;
        left: 18px;
        height: 0;
        width: 2px; }
  @media screen and (max-width: 500px) {
    .menu-button {
      display: block; } }

.menu-button.active .hamburger span {
  width: 0%; }
  .menu-button.active .hamburger span:nth-child(1) {
    transition-delay: 0s; }
  .menu-button.active .hamburger span:nth-child(2) {
    transition-delay: 0.10s; }
  .menu-button.active .hamburger span:nth-child(3) {
    transition-delay: 0.20s; }

.menu-button.active .cross span:nth-child(1) {
  transition-delay: 0.35s;
  width: 100%; }

.menu-button.active .cross span:nth-child(2) {
  height: 100%;
  transition-delay: 0.45s; }

#animatedModal {
  background-color: #FFFFFF;
  height: calc(100% - 76px) !important; }
  @media screen and (max-width: 500px) {
    #animatedModal {
      height: calc(100% - 60px) !important;
      top: 60px !important; } }
  #animatedModal .text-container {
    display: flex;
    width: 90%;
    margin: 100px auto;
    text-align: center; }
    #animatedModal .text-container .text {
      padding: 0 2%;
      height: 100%; }
      #animatedModal .text-container .text h3 {
        font-size: 38px; }
      #animatedModal .text-container .text p {
        font-size: 24px;
        height: auto; }
      @media screen and (max-width: 750px) {
        #animatedModal .text-container .text h3 {
          font-size: 24px; }
        #animatedModal .text-container .text p {
          font-size: 18px; } }
    #animatedModal .text-container .line {
      height: 200px;
      width: 10px;
      background-color: #666767;
      align-self: center; }
      @media screen and (max-width: 1100px) {
        #animatedModal .text-container .line {
          height: 3px;
          width: 200px;
          margin: 50px auto; } }
    @media screen and (max-width: 1100px) {
      #animatedModal .text-container {
        display: block; } }
  #animatedModal .modal-content {
    text-align: center;
    position: relative; }
    #animatedModal .modal-content .modal {
      display: none; }
    #animatedModal .modal-content .faction-logo {
      width: 60%;
      margin: 10% 0; }
      @media screen and (max-width: 960px) {
        #animatedModal .modal-content .faction-logo {
          width: 95%; } }
    #animatedModal .modal-content #hawaiian-modal {
      text-align: center;
      background: url("backgrounds/Hawaiin Background.png");
      position: relative; }
      #animatedModal .modal-content #hawaiian-modal #hawaiian-pouches {
        width: 100%; }
      #animatedModal .modal-content #hawaiian-modal #hawaiian-logo {
        margin-top: 100px;
        width: 50%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #hawaiian-modal #hawaiian-logo {
            width: 95%;
            margin-top: 100px; } }
      #animatedModal .modal-content #hawaiian-modal #hawaiian-business-cards {
        margin-top: 200px;
        width: 50%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #hawaiian-modal #hawaiian-business-cards {
            width: 95%;
            margin-top: 100px; } }
      #animatedModal .modal-content #hawaiian-modal #hawaiian-pouches {
        margin-top: 200px; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #hawaiian-modal #hawaiian-pouches {
            margin-top: 100px; } }
    #animatedModal .modal-content #asian-modal {
      text-align: center;
      background: url("backgrounds/AsianMagBg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom; }
      #animatedModal .modal-content #asian-modal #asian-description {
        text-align: center;
        width: 60%;
        margin: 0 auto 200px; }
        #animatedModal .modal-content #asian-modal #asian-description h1 {
          color: #c12026;
          font-size: 56px;
          font-weight: 700; }
          @media screen and (max-width: 960px) {
            #animatedModal .modal-content #asian-modal #asian-description h1 {
              font-size: 36px; } }
          @media screen and (max-width: 500px) {
            #animatedModal .modal-content #asian-modal #asian-description h1 {
              font-size: 28px; } }
        #animatedModal .modal-content #asian-modal #asian-description p {
          color: #65c0e6;
          font-size: 36px; }
          @media screen and (max-width: 960px) {
            #animatedModal .modal-content #asian-modal #asian-description p {
              font-size: 24px; } }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #asian-modal #asian-description p {
              font-size: 18px; } }
          @media screen and (max-width: 500px) {
            #animatedModal .modal-content #asian-modal #asian-description p {
              font-size: 16px; } }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #asian-modal #asian-description {
            width: 90%;
            margin-bottom: 100px; } }
      #animatedModal .modal-content #asian-modal #asian-mag-cover {
        margin-bottom: 300px;
        width: 80%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #asian-modal #asian-mag-cover {
            width: 95%;
            margin-bottom: 100px; } }
      #animatedModal .modal-content #asian-modal #asian-mag-toc {
        margin-bottom: 300px;
        width: 80%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #asian-modal #asian-mag-toc {
            width: 95%;
            margin-bottom: 100px; } }
      #animatedModal .modal-content #asian-modal #asian-mag-spread {
        width: 80%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #asian-modal #asian-mag-spread {
            width: 95%; } }
    #animatedModal .modal-content #roman-modal {
      text-align: center;
      background: url("backgrounds/RomanMagBG.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      height: 100%; }
      @media screen and (max-width: 750px) {
        #animatedModal .modal-content #roman-modal {
          background-position: top; } }
      #animatedModal .modal-content #roman-modal #roman-description {
        text-align: center;
        width: 60%;
        margin: 0 auto 10%;
        text-shadow: 0 0 2px black; }
        #animatedModal .modal-content #roman-modal #roman-description h1 {
          color: #25b5e9;
          font-size: 56px;
          font-weight: 700; }
          @media screen and (max-width: 960px) {
            #animatedModal .modal-content #roman-modal #roman-description h1 {
              font-size: 36px; } }
          @media screen and (max-width: 500px) {
            #animatedModal .modal-content #roman-modal #roman-description h1 {
              font-size: 28px; } }
        #animatedModal .modal-content #roman-modal #roman-description p {
          color: #FFFFFF;
          font-size: 36px; }
          @media screen and (max-width: 960px) {
            #animatedModal .modal-content #roman-modal #roman-description p {
              font-size: 24px; } }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #roman-modal #roman-description p {
              font-size: 18px; } }
          @media screen and (max-width: 500px) {
            #animatedModal .modal-content #roman-modal #roman-description p {
              font-size: 16px; } }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #roman-modal #roman-description {
            width: 90%; } }
        @media screen and (max-width: 500px) {
          #animatedModal .modal-content #roman-modal #roman-description {
            margin: 0 auto 5%; } }
      #animatedModal .modal-content #roman-modal #roman-mag-cover {
        margin-bottom: 32%;
        width: 80%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #roman-modal #roman-mag-cover {
            width: 95%; } }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #roman-modal #roman-mag-cover {
            margin-bottom: 35%; } }
        @media screen and (max-width: 500px) {
          #animatedModal .modal-content #roman-modal #roman-mag-cover {
            margin-bottom: 30%; } }
      #animatedModal .modal-content #roman-modal #roman-mag-toc {
        margin-bottom: 25%;
        width: 80%; }
        @media screen and (max-width: 1300px) {
          #animatedModal .modal-content #roman-modal #roman-mag-toc {
            transform: translateY(-10%); } }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #roman-modal #roman-mag-toc {
            width: 95%;
            transform: translateY(0); } }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #roman-modal #roman-mag-toc {
            margin-bottom: 30%; } }
        @media screen and (max-width: 500px) {
          #animatedModal .modal-content #roman-modal #roman-mag-toc {
            margin-bottom: 30%; } }
      #animatedModal .modal-content #roman-modal #roman-mag-spread {
        width: 80%;
        margin-bottom: 2%; }
        @media screen and (max-width: 960px) {
          #animatedModal .modal-content #roman-modal #roman-mag-spread {
            width: 95%; } }
      @media screen and (max-width: 500px) {
        #animatedModal .modal-content #roman-modal .faction-logo {
          margin: 5% 0; } }
    #animatedModal .modal-content #logos-modal #logos-header {
      width: 100%; }
    #animatedModal .modal-content #logos-modal #logos-grid {
      width: 80%;
      margin: 200px auto;
      text-align: center; }
      #animatedModal .modal-content #logos-modal #logos-grid img {
        display: block;
        width: 40%;
        height: 100%;
        float: left;
        clear: both; }
        #animatedModal .modal-content #logos-modal #logos-grid img:nth-child(even) {
          float: right; }
        #animatedModal .modal-content #logos-modal #logos-grid img:last-child {
          padding-bottom: 10%; }
        @media screen and (max-width: 1100px) {
          #animatedModal .modal-content #logos-modal #logos-grid img {
            float: none;
            margin-bottom: 100px; }
            #animatedModal .modal-content #logos-modal #logos-grid img:last-child {
              padding-bottom: 0; } }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #logos-modal #logos-grid img {
            width: 100%; } }
      @media screen and (max-width: 1100px) {
        #animatedModal .modal-content #logos-modal #logos-grid {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          margin: 100px auto; } }
      @media screen and (max-width: 750px) {
        #animatedModal .modal-content #logos-modal #logos-grid {
          margin: 100px auto 0; }
          #animatedModal .modal-content #logos-modal #logos-grid img:nth-child(3) {
            margin: 0 0 50px; }
          #animatedModal .modal-content #logos-modal #logos-grid img:nth-child(4) {
            margin: 0 0 50px; } }
    #animatedModal .modal-content #prolific-modal {
      text-align: center; }
      #animatedModal .modal-content #prolific-modal #prolific-header {
        width: 100%; }
      #animatedModal .modal-content #prolific-modal h1 {
        color: #ac202a;
        font-size: 60px;
        width: 50%;
        padding-bottom: 40px;
        margin: 100px auto 50px;
        border-bottom: 5px solid grey; }
        @media screen and (max-width: 1050px) {
          #animatedModal .modal-content #prolific-modal h1 {
            font-size: 40px;
            width: 95%; } }
      #animatedModal .modal-content #prolific-modal #mockups {
        background: url("backgrounds/ProlificRedGradient.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
        width: 100%;
        padding: 0 5%;
        margin: 300px auto 0; }
        @media screen and (max-width: 1050px) {
          #animatedModal .modal-content #prolific-modal #mockups {
            margin: 100px auto 0; } }
        #animatedModal .modal-content #prolific-modal #mockups .web-mockup {
          width: 75%;
          margin-bottom: 300px; }
          @media screen and (max-width: 1050px) {
            #animatedModal .modal-content #prolific-modal #mockups .web-mockup {
              width: 100%;
              margin-bottom: 10%; }
              #animatedModal .modal-content #prolific-modal #mockups .web-mockup:nth-child(1) {
                transform: translateY(-10%);
                margin-bottom: 0; } }
        #animatedModal .modal-content #prolific-modal #mockups .web-mockup:nth-child(odd) {
          float: right; }
        #animatedModal .modal-content #prolific-modal #mockups .web-mockup:last-child {
          margin-bottom: 0; }
      #animatedModal .modal-content #prolific-modal #mockup {
        width: 75%;
        margin-top: -25%; }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #prolific-modal #mockup {
            width: 95%; } }
      #animatedModal .modal-content #prolific-modal #icons {
        width: 1525px;
        margin: auto;
        display: flex;
        flex-wrap: wrap; }
        @media screen and (max-width: 1600px) {
          #animatedModal .modal-content #prolific-modal #icons {
            width: 95%; } }
        #animatedModal .modal-content #prolific-modal #icons .icon-container {
          flex-basis: 25%;
          margin-bottom: 100px; }
          #animatedModal .modal-content #prolific-modal #icons .icon-container:nth-child(6) .icon {
            transform: translateX(10px); }
          #animatedModal .modal-content #prolific-modal #icons .icon-container .icon {
            height: 200px;
            margin-bottom: 25px; }
          #animatedModal .modal-content #prolific-modal #icons .icon-container p {
            font-size: 18px; }
          @media screen and (max-width: 1400px) {
            #animatedModal .modal-content #prolific-modal #icons .icon-container {
              flex-basis: calc(100% / 3); } }
          @media screen and (max-width: 1050px) {
            #animatedModal .modal-content #prolific-modal #icons .icon-container {
              flex-basis: 50%; } }
          @media screen and (max-width: 700px) {
            #animatedModal .modal-content #prolific-modal #icons .icon-container {
              flex-basis: 100%; } }
    #animatedModal .modal-content #nalac-modal {
      position: relative;
      text-align: center; }
      #animatedModal .modal-content #nalac-modal .text-container p {
        color: #666767; }
      #animatedModal .modal-content #nalac-modal #nalac-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1; }
      #animatedModal .modal-content #nalac-modal #nalac-header-logo {
        width: 40%;
        margin: 10% auto;
        z-index: 1; }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #nalac-modal #nalac-header-logo {
            width: 60%;
            margin: 5% auto; } }
      #animatedModal .modal-content #nalac-modal #nalac-text {
        margin-top: 100px; }
      #animatedModal .modal-content #nalac-modal .nalac-text-section {
        width: 80%;
        margin: 0 auto 50px;
        text-align: left; }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #nalac-modal .nalac-text-section {
            width: 95%; } }
        #animatedModal .modal-content #nalac-modal .nalac-text-section h3 {
          font-size: 46px;
          font-weight: bold;
          margin-bottom: 10px; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal .nalac-text-section h3 {
              font-size: 26px; } }
        #animatedModal .modal-content #nalac-modal .nalac-text-section p {
          color: #5A5A5A;
          font-size: 23px; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal .nalac-text-section p {
              font-size: 18px; } }
      #animatedModal .modal-content #nalac-modal #logo-compare {
        width: 80%;
        margin: 10% auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; }
        #animatedModal .modal-content #nalac-modal #logo-compare #business-cards-mobile {
          display: none; }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #nalac-modal #logo-compare {
            margin: 200px auto 0; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(1) {
              order: 1; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(2) {
              order: 3; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(3) {
              order: 2; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(4) {
              order: 4; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(5) {
              order: 5; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(6) {
              order: 6; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(7) {
              order: 7; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(8) {
              order: 8; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:nth-child(9) {
              order: 9; }
            #animatedModal .modal-content #nalac-modal #logo-compare .flex-item {
              margin-bottom: 60px; }
              #animatedModal .modal-content #nalac-modal #logo-compare .flex-item:last-child {
                margin-bottom: 50px; } }
        #animatedModal .modal-content #nalac-modal #logo-compare p {
          width: 50%;
          margin-bottom: 50px;
          font-size: 22px; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal #logo-compare p {
              margin-bottom: 0;
              width: 100%; } }
        #animatedModal .modal-content #nalac-modal #logo-compare img {
          width: 40%;
          margin: 0 5%; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal #logo-compare img {
              width: 100%;
              margin: 0; } }
        #animatedModal .modal-content #nalac-modal #logo-compare #logos-vertical {
          width: 50%; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal #logo-compare #logos-vertical {
              width: 100%; } }
          #animatedModal .modal-content #nalac-modal #logo-compare #logos-vertical img {
            width: 50%;
            margin: 0; }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #nalac-modal #logo-compare #logos-vertical img {
                width: 100%; } }
        @media screen and (max-width: 750px) {
          #animatedModal .modal-content #nalac-modal #logo-compare .business-card-desktop {
            display: none; }
          #animatedModal .modal-content #nalac-modal #logo-compare #business-cards-mobile {
            display: block; } }
      #animatedModal .modal-content #nalac-modal #blue-gradient {
        background: url("backgrounds/NALAC Gradient.png");
        background-position: top;
        width: 100%; }
        #animatedModal .modal-content #nalac-modal #blue-gradient .image {
          padding: 0;
          flex-basis: 50%; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient .image {
              flex-basis: 100%; } }
          #animatedModal .modal-content #nalac-modal #blue-gradient .image img {
            width: 100%; }
        #animatedModal .modal-content #nalac-modal #blue-gradient #homepage {
          width: 90%;
          padding-bottom: 45%;
          margin: 0 auto 130px;
          transform: translateY(-10%);
          position: relative; }
          @media screen and (max-width: 1200px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #homepage {
              transform: translateY(0%); } }
          @media screen and (max-width: 960px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #homepage {
              padding-bottom: 50%; } }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #homepage {
              transform: translateY(0);
              padding-bottom: 0%; } }
          @media screen and (max-width: 550px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #homepage {
              padding-bottom: 25%;
              transform: translateY(15%); } }
          @media screen and (max-width: 375px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #homepage {
              transform: translateY(20%); } }
          #animatedModal .modal-content #nalac-modal #blue-gradient #homepage .image {
            width: 55%; }
            #animatedModal .modal-content #nalac-modal #blue-gradient #homepage .image:nth-child(1) {
              position: absolute;
              top: 15%;
              left: 0;
              margin-bottom: 15%; }
              @media screen and (max-width: 960px) {
                #animatedModal .modal-content #nalac-modal #blue-gradient #homepage .image:nth-child(1) {
                  top: 35%; } }
              @media screen and (max-width: 750px) {
                #animatedModal .modal-content #nalac-modal #blue-gradient #homepage .image:nth-child(1) {
                  position: static;
                  width: 100%; } }
            #animatedModal .modal-content #nalac-modal #blue-gradient #homepage .image:nth-child(2) {
              position: absolute;
              top: 0;
              right: 7%; }
              @media screen and (max-width: 960px) {
                #animatedModal .modal-content #nalac-modal #blue-gradient #homepage .image:nth-child(2) {
                  top: 20%; } }
              @media screen and (max-width: 750px) {
                #animatedModal .modal-content #nalac-modal #blue-gradient #homepage .image:nth-child(2) {
                  display: none; } }
            #animatedModal .modal-content #nalac-modal #blue-gradient #homepage .image:nth-child(3) {
              display: none; }
              @media screen and (max-width: 750px) {
                #animatedModal .modal-content #nalac-modal #blue-gradient #homepage .image:nth-child(3) {
                  display: block;
                  width: 100%; } }
        #animatedModal .modal-content #nalac-modal #blue-gradient #store {
          width: 100%; }
          #animatedModal .modal-content #nalac-modal #blue-gradient #store img {
            width: 100%; }
          #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-desktop {
            width: 95%;
            margin: auto; }
            @media screen and (max-width: 1440px) {
              #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-desktop {
                display: none; } }
          #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-cropped {
            width: 100%;
            display: none; }
            @media screen and (max-width: 1440px) {
              #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-cropped {
                display: block; } }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-cropped {
                display: none; } }
          #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-mobile {
            width: 100%;
            display: none; }
            #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-mobile img {
              margin-bottom: 25px; }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #nalac-modal #blue-gradient #store #store-mobile {
                display: block; } }
        #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved {
          width: 80%;
          margin: 200px auto; }
          #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved img {
            width: 100%; }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved {
              width: 95%;
              margin: 10% auto; } }
          #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved #get-involved-desktop {
            width: 100%; }
          #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved #get-involved-tablet, #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved #get-involved-mobile {
            display: none; }
          @media screen and (max-width: 960px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved #get-involved-desktop, #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved #get-involved-mobile {
              display: none; }
            #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved #get-involved-tablet {
              display: block; } }
          @media screen and (max-width: 500px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved #get-involved-desktop, #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved #get-involved-tablet {
              display: none; }
            #animatedModal .modal-content #nalac-modal #blue-gradient #get-involved #get-involved-mobile {
              display: block; } }
        #animatedModal .modal-content #nalac-modal #blue-gradient #billboard {
          background: url("backgrounds/NALAC Clouds.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top;
          width: 100%;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: flex-end; }
          #animatedModal .modal-content #nalac-modal #blue-gradient #billboard #billboard-mobile {
            margin-bottom: -1.1%; }
          #animatedModal .modal-content #nalac-modal #blue-gradient #billboard .image {
            width: 80%;
            margin: 0 auto;
            padding: 0; }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #nalac-modal #blue-gradient #billboard .image {
                width: 100%; } }
            #animatedModal .modal-content #nalac-modal #blue-gradient #billboard .image:nth-child(1) {
              padding: 5% 7% 2% 7%; }
            @media screen and (max-width: 750px) {
              #animatedModal .modal-content #nalac-modal #blue-gradient #billboard .image:nth-child(2) {
                display: none; } }
            #animatedModal .modal-content #nalac-modal #blue-gradient #billboard .image:nth-child(3) {
              display: none; }
              @media screen and (max-width: 750px) {
                #animatedModal .modal-content #nalac-modal #blue-gradient #billboard .image:nth-child(3) {
                  display: block; } }
          @media screen and (max-width: 750px) {
            #animatedModal .modal-content #nalac-modal #blue-gradient #billboard {
              width: 100%;
              display: block;
              padding-bottom: 0;
              background-position: bottom;
              background-size: contain; } }
    #animatedModal .modal-content #motion-modal {
      padding: 200px 20% 0;
      background-color: #9FDFFA; }
      @media screen and (max-width: 1100px) {
        #animatedModal .modal-content #motion-modal {
          padding: 100px 2.5% 0; } }
      #animatedModal .modal-content #motion-modal .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0; }
        #animatedModal .modal-content #motion-modal .video-container iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
      #animatedModal .modal-content #motion-modal p {
        padding: 10px 0 200px 0;
        text-align: center;
        font-size: 14px;
        color: #5A5A5A; }
        @media screen and (max-width: 1100px) {
          #animatedModal .modal-content #motion-modal p {
            padding: 10px 0 100px 0; } }

nav {
  box-shadow: 0 0 3px black;
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: #195996;
  text-align: center;
  position: fixed;
  height: 76px; }
  @media screen and (max-width: 500px) {
    nav {
      height: 60px; } }
  nav .nav-links {
    animation-duration: 0.3s; }
    @media screen and (max-width: 500px) {
      nav .nav-links {
        display: none;
        height: 100vh; } }
  nav p {
    transition: 0.4s;
    text-align: center;
    padding: 25px 25px;
    font-size: 21px;
    color: #FFFFFF;
    display: inline-block; }
    @media screen and (max-width: 500px) {
      nav p {
        display: block; } }
    nav p:hover {
      color: #3498D1 !important; }
  nav .nav-links.display {
    display: block;
    background-color: rgba(25, 89, 150, 0.98);
    position: relative; }
    nav .nav-links.display .links {
      animation-duration: 0.1s; }
      @media screen and (max-width: 500px) {
        nav .nav-links.display .links {
          position: absolute;
          top: calc(50% - 152px);
          left: calc(50% - 70.55px); } }
      nav .nav-links.display .links .link {
        animation-duration: 0.4s; }
      nav .nav-links.display .links .home-link {
        animation-delay: 0.25s; }
      nav .nav-links.display .links .work-link {
        animation-delay: 0.3s; }
      nav .nav-links.display .links .bio-link {
        animation-delay: 0.35s; }
      nav .nav-links.display .links .contact-link {
        animation-delay: 0.4s; }

header #header-banner {
  transition: 0s;
  margin-top: 76px;
  width: 100%;
  position: fixed;
  z-index: -9999; }
  @media screen and (max-width: 500px) {
    header #header-banner {
      margin-top: 50px; } }

header #header-psudo-banner {
  transition: 0s;
  margin-top: 76px;
  width: 100%; }
  @media screen and (max-width: 500px) {
    header #header-psudo-banner {
      margin-top: 50px; } }

#bio {
  overflow: hidden;
  background-color: #57BCE6;
  padding: 100px 10px;
  text-align: center; }
  @media screen and (max-width: 500px) {
    #bio {
      padding: 50px 10px; } }
  #bio .info-section {
    margin: 0 auto 75px;
    max-width: 1100px; }
    @media screen and (max-width: 500px) {
      #bio .info-section {
        margin: 0 auto 50px; } }
    #bio .info-section p {
      color: #FFFFFF;
      font-size: 22px;
      text-align: center; }
      @media screen and (max-width: 500px) {
        #bio .info-section p {
          font-size: 16px; } }
    #bio .info-section #education {
      width: 350px; }
      @media screen and (max-width: 385px) {
        #bio .info-section #education {
          width: 100%; } }
    #bio .info-section #all-about-me {
      width: 600px; }
      @media screen and (max-width: 630px) {
        #bio .info-section #all-about-me {
          width: 100%; } }
  #bio button:hover {
    background-color: transparent; }

#work {
  box-sizing: border-box;
  padding: 100px 10px;
  text-align: center;
  background-color: #3498D1; }
  @media screen and (max-width: 500px) {
    #work {
      padding: 50px 10px; } }
  #work #the-work {
    margin-bottom: 50px;
    width: 400px; }
    @media screen and (max-width: 500px) {
      #work #the-work {
        width: 100%; } }
  #work .projects {
    overflow: hidden;
    user-select: none;
    box-sizing: border-box;
    width: 70%;
    max-width: 2500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media screen and (max-width: 1130px) {
      #work .projects {
        width: 100%; } }
    #work .projects .project {
      height: 100%;
      position: relative;
      flex-basis: 25%;
      box-sizing: border-box; }
      @media screen and (max-width: 1130px) {
        #work .projects .project {
          flex-basis: calc(100% / 3); } }
      @media screen and (max-width: 850px) {
        #work .projects .project {
          flex-basis: 50%; } }
      @media screen and (max-width: 500px) {
        #work .projects .project {
          flex-basis: 100%; } }
      #work .projects .project .box-background {
        transition: 0.5s;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100.5%;
        width: 100.5%; }
      #work .projects .project .box-background.active {
        transform: scale(1.1); }
      #work .projects .project .overlay {
        cursor: pointer;
        padding: 15px;
        transition: 0.25s;
        opacity: 0;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 0;
        width: 100.5%;
        height: 100.5%;
        position: absolute;
        display: table; }
        #work .projects .project .overlay .text {
          display: table-cell;
          vertical-align: middle; }
          #work .projects .project .overlay .text h3 {
            font-size: 20px;
            font-weight: bold;
            opacity: 0;
            transition: 0s;
            transition-delay: 0s;
            transform: translateX(50px);
            padding-bottom: 10px; }
          #work .projects .project .overlay .text p {
            font-weight: 200px;
            opacity: 0;
            transition: 0s;
            transition-delay: 0s;
            transform: translateY(50px); }
      #work .projects .project .overlay:hover, #work .projects .project .overlay:active {
        opacity: 1; }
        #work .projects .project .overlay:hover h3, #work .projects .project .overlay:active h3 {
          transition: 0.25s;
          transition-delay: 0.25s;
          opacity: 1;
          transform: translateX(0); }
        #work .projects .project .overlay:hover p, #work .projects .project .overlay:active p {
          transition: 0.25s;
          transition-delay: 0.35s;
          opacity: 1;
          transform: translateY(0); }
    #work .projects .project::before {
      content: "";
      display: block;
      margin: 0% !important;
      padding-top: 100%; }
    #work .projects #nalac-background {
      background-image: url("backgrounds/NALAC Cover Box.jpg"); }
    #work .projects #jcc {
      background-image: url("backgrounds/JCC Cover Box.jpg"); }
    #work .projects #prolific {
      background-image: url("backgrounds/Prolific Cover Box.jpg"); }
    #work .projects #hawaiian {
      background-image: url("backgrounds/Hawaiin Cover Box.jpg"); }
    #work .projects #logos {
      background-image: url("backgrounds/Logos Cover Box.png"); }
    #work .projects #roman {
      background-image: url("backgrounds/Roman Magazine Cover Box.jpg"); }
    #work .projects #asian {
      background-image: url("backgrounds/Asian Magazine Cover Box.jpg"); }
    #work .projects #motion {
      background-image: url("backgrounds/Motion Graphics Cover Box.jpg"); }
  @media screen and (max-width: 1130px) {
    #work .project:nth-child(1) {
      order: 1; }
    #work .project:nth-child(2) {
      order: 2; }
    #work .project:nth-child(3) {
      order: 3; }
    #work .project:nth-child(4) {
      order: 5; }
    #work .project:nth-child(5) {
      order: 7; }
    #work .project:nth-child(6) {
      order: 6; }
    #work .project:nth-child(7) {
      order: 4; }
    #work .project:nth-child(8) {
      order: 8; } }
  @media screen and (max-width: 850px) {
    #work .project:nth-child(1) {
      order: 3; }
    #work .project:nth-child(2) {
      order: 1; }
    #work .project:nth-child(3) {
      order: 2; }
    #work .project:nth-child(4) {
      order: 4; }
    #work .project:nth-child(5) {
      order: 7; }
    #work .project:nth-child(6) {
      order: 6; }
    #work .project:nth-child(7) {
      order: 6; }
    #work .project:nth-child(8) {
      order: 8; } }
  @media screen and (max-width: 500px) {
    #work .project:nth-child(1) {
      order: 3; }
    #work .project:nth-child(2) {
      order: 1; }
    #work .project:nth-child(3) {
      order: 2; }
    #work .project:nth-child(4) {
      order: 4; }
    #work .project:nth-child(5) {
      order: 7; }
    #work .project:nth-child(6) {
      order: 6; }
    #work .project:nth-child(7) {
      order: 5; }
    #work .project:nth-child(8) {
      order: 8; } }

#contact {
  overflow: hidden;
  text-align: center;
  padding: 100px 10px;
  background-color: #9FDFFA; }
  @media screen and (max-width: 500px) {
    #contact {
      padding: 50px 10px; } }
  #contact h2 {
    margin-bottom: 50px;
    width: 960px; }
    @media screen and (max-width: 990px) {
      #contact h2 {
        width: 100%; } }
  #contact #contact-form {
    width: 960px;
    margin: auto; }
    #contact #contact-form h3 {
      text-align: left;
      color: #5A5A5A;
      font-size: 20px;
      margin-bottom: 10px; }
    @media screen and (max-width: 990px) {
      #contact #contact-form {
        width: 100%; } }
    #contact #contact-form button {
      transition: 0.5s;
      float: left;
      background-color: #5A5A5A;
      border-color: #5A5A5A; }
      #contact #contact-form button:hover {
        background-color: #195996;
        border-color: #195996; }
      @media screen and (max-width: 500px) {
        #contact #contact-form button {
          float: none; } }
  #contact input, #contact textarea {
    transition: 0.5s;
    color: #5A5A5A;
    border: 1px solid #9FDFFA;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: block;
    margin: 0 auto 25px;
    border-radius: 2px; }
    @media screen and (max-width: 1000px) {
      #contact input, #contact textarea {
        width: 100%; } }
    #contact input:hover, #contact textarea:hover {
      border: 1px solid #5A5A5A;
      color: black; }
  #contact input {
    height: 50px; }
  #contact textarea {
    height: 200px;
    resize: none;
    font-family: "Helvetica"; }

.credits {
  width: 100%;
  text-align: center;
  background-color: #DBF0F9; }
  .credits p {
    padding: 27px 0;
    color: #5A5A5A;
    font-size: 18px; }
    @media screen and (max-width: 500px) {
      .credits p {
        padding: 14px 0;
        font-size: 16px; } }

#jcc-modal {
  background: #555555;
  background: linear-gradient(0deg, #c3c3c3 0%, white 18%, #c3c3c3 32%, white 46%, #c3c3c3 61%, white 83%, #c3c3c3 100%); }
  #jcc-modal .single {
    margin-bottom: 10%; }
  #jcc-modal .jcc-wrapper {
    width: 90%;
    margin: auto; }
    #jcc-modal .jcc-wrapper img {
      width: 100%; }
    #jcc-modal .jcc-wrapper #jcc-header img {
      width: 60%;
      padding: 10% 0; }
      @media screen and (max-width: 960px) {
        #jcc-modal .jcc-wrapper #jcc-header img {
          width: 100%; } }
    #jcc-modal .jcc-wrapper #jcc-header #jcc-description {
      width: 80%;
      margin: 0 auto 15%; }
      #jcc-modal .jcc-wrapper #jcc-header #jcc-description h3 {
        color: #313131;
        font-size: 48px;
        font-weight: bold; }
      #jcc-modal .jcc-wrapper #jcc-header #jcc-description p {
        color: #505050;
        font-size: 36px; }
      @media screen and (max-width: 1200px) {
        #jcc-modal .jcc-wrapper #jcc-header #jcc-description {
          width: 100%; }
          #jcc-modal .jcc-wrapper #jcc-header #jcc-description h3 {
            font-size: 36px; }
          #jcc-modal .jcc-wrapper #jcc-header #jcc-description p {
            font-size: 24px; } }
      @media screen and (max-width: 960px) {
        #jcc-modal .jcc-wrapper #jcc-header #jcc-description {
          width: 100%; }
          #jcc-modal .jcc-wrapper #jcc-header #jcc-description h3 {
            font-size: 24px; }
          #jcc-modal .jcc-wrapper #jcc-header #jcc-description p {
            font-size: 18px; } }
    #jcc-modal .jcc-wrapper #africa-posters {
      display: flex;
      width: 100%; }
      #jcc-modal .jcc-wrapper #africa-posters div {
        margin-bottom: 10%; }
        #jcc-modal .jcc-wrapper #africa-posters div:first-child {
          flex-basis: 50.2%; }
        #jcc-modal .jcc-wrapper #africa-posters div:last-child {
          flex-basis: 49.8%;
          transform: translateY(-2.2%); }
      @media screen and (max-width: 750px) {
        #jcc-modal .jcc-wrapper #africa-posters {
          display: block; } }
    #jcc-modal .jcc-wrapper #devices div {
      margin-bottom: 10%; }
      #jcc-modal .jcc-wrapper #devices div:nth-child(1) {
        transform: translateX(-2%); }
      #jcc-modal .jcc-wrapper #devices div:nth-child(2), #jcc-modal .jcc-wrapper #devices div:nth-child(3) {
        display: none; }
    @media screen and (max-width: 750px) {
      #jcc-modal .jcc-wrapper #devices div:nth-child(1) {
        display: none; }
      #jcc-modal .jcc-wrapper #devices div:nth-child(2), #jcc-modal .jcc-wrapper #devices div:nth-child(3) {
        display: block; } }
    #jcc-modal .jcc-wrapper #employment {
      display: flex; }
      #jcc-modal .jcc-wrapper #employment div {
        margin-bottom: 10%; }
        #jcc-modal .jcc-wrapper #employment div:first-child {
          flex-basis: 51%; }
        #jcc-modal .jcc-wrapper #employment div:nth-child(2) {
          display: none; }
          @media screen and (max-width: 750px) {
            #jcc-modal .jcc-wrapper #employment div:nth-child(2) {
              display: block; } }
        #jcc-modal .jcc-wrapper #employment div:last-child {
          flex-basis: 49%;
          transform: translateY(4%); }
          @media screen and (max-width: 750px) {
            #jcc-modal .jcc-wrapper #employment div:last-child {
              display: none; } }
      @media screen and (max-width: 750px) {
        #jcc-modal .jcc-wrapper #employment {
          display: block; } }
    #jcc-modal .jcc-wrapper #raffle, #jcc-modal .jcc-wrapper #large-card, #jcc-modal .jcc-wrapper #house, #jcc-modal .jcc-wrapper #hanukkah, #jcc-modal .jcc-wrapper #amazon, #jcc-modal .jcc-wrapper #ohm {
      width: 70%;
      margin: auto;
      padding-bottom: 10%; }
      @media screen and (max-width: 960px) {
        #jcc-modal .jcc-wrapper #raffle, #jcc-modal .jcc-wrapper #large-card, #jcc-modal .jcc-wrapper #house, #jcc-modal .jcc-wrapper #hanukkah, #jcc-modal .jcc-wrapper #amazon, #jcc-modal .jcc-wrapper #ohm {
          width: 90%; } }
    #jcc-modal .jcc-wrapper #jcc-laptop {
      width: 85%;
      margin: auto;
      padding-bottom: 10%; }
      @media screen and (max-width: 960px) {
        #jcc-modal .jcc-wrapper #jcc-laptop {
          width: 90%; } }
    #jcc-modal .jcc-wrapper #jcc-cards {
      margin-bottom: 10%; }
      @media screen and (max-width: 750px) {
        #jcc-modal .jcc-wrapper #jcc-cards img:first-child {
          display: none; } }
      #jcc-modal .jcc-wrapper #jcc-cards img:last-child {
        display: none; }
        @media screen and (max-width: 750px) {
          #jcc-modal .jcc-wrapper #jcc-cards img:last-child {
            display: block; } }
    #jcc-modal .jcc-wrapper #cocktail-party {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 33%; }
      #jcc-modal .jcc-wrapper #cocktail-party div {
        flex-basis: 50%; }
        #jcc-modal .jcc-wrapper #cocktail-party div:nth-child(1), #jcc-modal .jcc-wrapper #cocktail-party div:nth-child(3), #jcc-modal .jcc-wrapper #cocktail-party div:nth-child(4) {
          padding: 0 5%; }
        #jcc-modal .jcc-wrapper #cocktail-party div:nth-child(2) {
          transform: translateY(40%); }
        #jcc-modal .jcc-wrapper #cocktail-party div:nth-child(4) {
          transform: translateY(47%); }
      @media screen and (max-width: 750px) {
        #jcc-modal .jcc-wrapper #cocktail-party {
          display: block;
          margin-bottom: 10%; }
          #jcc-modal .jcc-wrapper #cocktail-party div {
            transform: translateY(0) !important; }
            #jcc-modal .jcc-wrapper #cocktail-party div:nth-child(1) {
              margin-bottom: 5%;
              transform: translateY(47%); }
            #jcc-modal .jcc-wrapper #cocktail-party div:nth-child(3) {
              margin-bottom: 9%; } }
    #jcc-modal .jcc-wrapper #card-party {
      display: flex;
      margin-bottom: 20%; }
      #jcc-modal .jcc-wrapper #card-party div {
        flex-basis: 50%; }
        @media screen and (max-width: 750px) {
          #jcc-modal .jcc-wrapper #card-party div:nth-child(1), #jcc-modal .jcc-wrapper #card-party div:nth-child(2) {
            display: none; } }
        #jcc-modal .jcc-wrapper #card-party div:nth-child(1) {
          padding: 0 3%; }
        #jcc-modal .jcc-wrapper #card-party div:nth-child(2) {
          transform: translateY(18%); }
        #jcc-modal .jcc-wrapper #card-party div:last-child {
          display: none; }
          @media screen and (max-width: 750px) {
            #jcc-modal .jcc-wrapper #card-party div:last-child {
              display: block; } }
      @media screen and (max-width: 750px) {
        #jcc-modal .jcc-wrapper #card-party {
          display: block;
          margin-bottom: 10%; } }
    #jcc-modal .jcc-wrapper #breast-health {
      display: flex; }
      #jcc-modal .jcc-wrapper #breast-health div {
        margin-bottom: 10%; }
        #jcc-modal .jcc-wrapper #breast-health div:nth-child(2) {
          transform: translate(0, 3%) rotate(-4deg) !important;
          order: 1;
          padding: 0 11%;
          flex-basis: 45%; }
        #jcc-modal .jcc-wrapper #breast-health div:nth-child(1) {
          order: 2;
          flex-basis: 55%; }
      @media screen and (max-width: 750px) {
        #jcc-modal .jcc-wrapper #breast-health {
          display: block; }
          #jcc-modal .jcc-wrapper #breast-health div {
            transform: translateY(0) !important; }
            #jcc-modal .jcc-wrapper #breast-health div:nth-child(2) {
              padding: 0 25%; }
            #jcc-modal .jcc-wrapper #breast-health div:nth-child(1) {
              transform: translateX(5%) !important; } }
    #jcc-modal .jcc-wrapper #annual-meeting {
      width: 70%;
      margin: 0 auto 20%;
      display: flex; }
      #jcc-modal .jcc-wrapper #annual-meeting div {
        flex-basis: 50%; }
        #jcc-modal .jcc-wrapper #annual-meeting div:nth-child(3) {
          display: none; }
        #jcc-modal .jcc-wrapper #annual-meeting div:nth-child(2) {
          transform: translateY(22%); }
      @media screen and (max-width: 750px) {
        #jcc-modal .jcc-wrapper #annual-meeting {
          display: block;
          width: 100%;
          margin-bottom: 10%; }
          #jcc-modal .jcc-wrapper #annual-meeting div:nth-child(1), #jcc-modal .jcc-wrapper #annual-meeting div:nth-child(2) {
            display: none; }
          #jcc-modal .jcc-wrapper #annual-meeting div:nth-child(3) {
            display: block; } }
    #jcc-modal .jcc-wrapper #hanukkah {
      transform: translateX(4%); }
    #jcc-modal .jcc-wrapper #brochure {
      display: flex;
      margin-bottom: 10%; }
      #jcc-modal .jcc-wrapper #brochure div {
        flex-basis: 50%; }
        #jcc-modal .jcc-wrapper #brochure div:nth-child(1) {
          transform: translateX(5%);
          padding: 0 2%; }
        #jcc-modal .jcc-wrapper #brochure div:nth-child(2) {
          transform: translate(9%, 4%); }
      @media screen and (max-width: 750px) {
        #jcc-modal .jcc-wrapper #brochure {
          display: block; }
          #jcc-modal .jcc-wrapper #brochure div:nth-child(1) {
            margin-bottom: 5%; } }
  #jcc-modal #road-rules-top, #jcc-modal #road-rules-bottom {
    width: 100%;
    margin: auto; }
    #jcc-modal #road-rules-top img, #jcc-modal #road-rules-bottom img {
      width: 75%; }
    @media screen and (max-width: 750px) {
      #jcc-modal #road-rules-top, #jcc-modal #road-rules-bottom {
        width: 90%; }
        #jcc-modal #road-rules-top img, #jcc-modal #road-rules-bottom img {
          float: none;
          width: 100%; } }
  #jcc-modal #road-rules-top {
    padding: 1%; }
    #jcc-modal #road-rules-top img {
      float: left; }
  #jcc-modal #road-rules-bottom img {
    float: right; }
  #jcc-modal #jfs-angled {
    overflow: hidden; }
    #jcc-modal #jfs-angled img {
      width: 100%; }
      #jcc-modal #jfs-angled img:nth-child(2) {
        width: 90%;
        margin: auto;
        display: none; }
    @media screen and (max-width: 750px) {
      #jcc-modal #jfs-angled img:nth-child(1) {
        display: none; }
      #jcc-modal #jfs-angled img:nth-child(2) {
        display: block;
        padding: 5% 0; } }

* {
  box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

html, body, h1, h2, h3, p, a, img {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Helvetica";
  position: relative; }

body {
  background-color: #3498D1; }

img, .project, .content {
  transition: 0.4s;
  transform: translateY(0); }

#close {
  display: none;
  width: 100%;
  background-color: #195996;
  z-index: 9999;
  position: fixed;
  text-align: center;
  box-shadow: 0 0 3px black;
  height: 76px; }
  #close .close-animatedModal {
    width: 50px;
    padding: 13px 0;
    cursor: pointer;
    transition: 0.2s; }
    #close .close-animatedModal:hover {
      transform: rotate(90deg); }
    @media screen and (max-width: 500px) {
      #close .close-animatedModal {
        width: 40px;
        padding: 10px 0; } }
  @media screen and (max-width: 500px) {
    #close {
      height: 60px; } }

a {
  text-decoration: none; }

h2 {
  font-weight: bold;
  color: #5A5A5A;
  font-size: 32px;
  border-bottom: 1px solid #FFFFFF;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 25px; }
  @media screen and (max-width: 500px) {
    h2 {
      font-size: 28px;
      width: 90%; } }

button {
  transition: 0.5s;
  font-size: 18px;
  width: 150px;
  padding: 15px 25px;
  border: none;
  border-radius: 2px;
  background-color: #195996;
  border: 1px solid #195996;
  color: #FFFFFF;
  cursor: pointer; }
