#bio {
  background-color: $bio-blue;
  padding: $sectMargin $horzPadding;
  text-align: center;
  @include mQ(500px) {
    padding: $mobileMargin $horzPadding;
  }
  .info-section {
    margin: 0 auto $sectMargin;
    max-width: $wrapperWidth;
    @include mQ(500px) {
      margin: 0 auto $mobileMargin;
    }
    p {
      color: $white;
      font-size: 22px;
      text-align: center;
      @include mQ(500px) {
        font-size: 16px;
      }
    }
    #education {
      width: 350px;
      @include mQ(385px) {
        width: 100%;
      }
    }
    #all-about-me {
      width: 600px;
      @include mQ(630px) {
        width: 100%;
      }
    }
  }
  button {
    &:hover {
      background-color: transparent;
    }
  }
}
