#contact {
  text-align: center;
  padding: $sectMargin $horzPadding;
  background-color: $footer-blue;
  @include mQ(500px) {
    padding: $mobileMargin $horzPadding;
  }
  h2 {
    margin-bottom: 50px;
    width: $wrapperWidthSmall;
    @include mQ($wrapperWidthSmall) {
      width: 100%;
    }
  }
  #contact-form {
    width: $wrapperWidthSmall;
    margin: auto;
    h3 {
      text-align: left;
      color: $grey;
      font-size: 20px;
      margin-bottom: 10px;
    }
    @include mQ($wrapperWidthSmall) {
      width: 100%;
    }
    button {
      float: left;
      background-color: $grey;
      border-color: $grey;
      &:hover {
        background-color: $nav-blue;
        border-color: $nav-blue;
      }
      @include mQ(500px) {
        float: none;
      }
    }
  }
  input, textarea {
    transition: 0.5s;
    color: $grey;
    border: 1px solid $footer-blue;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: block;
    margin: 0 auto 25px;
    border-radius: 2px;
    @include mQ(1000px) {
      width: 100%;
    }
    &:hover {
      border: 1px solid $grey;
      color: black;
    }
  }
  input {
    height: 50px;
  }
  textarea {
    height: 200px;
    resize: none;
    font-family: $global-font;
  }
}
.credits {
  width: 100%;
  text-align: center;
  background-color: $light-blue;
  p {
    padding: 27px 0;
    color: $grey;
    font-size: 18px;
    @include mQ(500px) {
      padding: 14px 0;
      font-size: 16px;
    }
  }
}
