header {
  #header-banner {
    transition: 0s;
    margin-top: 76px;
    width: 100%;
    position: fixed;
    z-index: -9999;
    @include mQ(500px) {
      margin-top: 50px;
    }
  }
  #header-psudo-banner {
    transition: 0s;
    margin-top: 76px;
    width: 100%;
    @include mQ(500px) {
      margin-top: 50px;
    }
  }
}
