@import 'variables';
@import 'mixins';

#animatedModal {
  background-color: $white;
  height: calc(100% - 76px) !important;
  @include mQ(500px) {
    height: calc(100% - 60px) !important;
    top: 60px !important;
  }
  .text-container {
    display: flex;
    width: 90%;
    margin: 100px auto;
    text-align: center;
    .text {
      padding: 0 2%;
      height: 100%;
      h3 {
        font-size: 38px;
        //color: #42B549;
      }
      p {
        font-size: 24px;
        //color: #666767;
        height: auto;
      }
      @include mQ(750px) {
        h3 {
          font-size: 24px;
        }
        p {
          font-size: 18px;
        }
      }
    }
    .line {
      height: 200px;
      width: 15px;
      background-color: #666767;
      align-self: center;
      @include mQ($wrapperWidth) {
        height: 5px;
        width: 200px;
        margin: 50px auto;
      }
    }
    @include mQ($wrapperWidth) {
      display: block;
    }
  }
  .modal-content {
    text-align: center;
    position: relative;
    .modal {
      display: none;
    }
    .faction-logo {
      width: 60%;
      margin: 10% 0;
      @include mQ(960px) {
        width: 95%;
      }
    }
    #hawaiian-modal {
      text-align: center;
      background: url("backgrounds/Hawaiin Background.jpg");
      position: relative;
      #hawaiian-pouches {
        width: 100%;
      }
      #hawaiian-logo {
        margin-top: 100px;
        width: 50%;
        @include mQ(960px) {
          width: 95%;
          margin-top: 100px;
        }
      }
      #hawaiian-business-cards {
        margin-top: 200px;
        width: 50%;
        @include mQ(960px) {
          width: 95%;
          margin-top: 100px;
        }
      }
      #hawaiian-pouches {
        margin-top: 200px;
        @include mQ(960px) {
          margin-top: 100px;
        }
      }
    }
    #asian-modal {
      text-align: center;
      background: url("backgrounds/AsianMagBG.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      #asian-description {
        text-align: center;
        width: 80%;
        margin: 0 auto 200px;
        h1 {
          color: #c12026;
          font-size: 56px;
          font-weight: 700;
          @include mQ(960px) {
            font-size: 36px;
          }
        }
        p {
          color: #65c0e6;
          font-size: 36px;
          @include mQ(960px) {
            font-size: 24px;
          }
          @include mQ(750px) {
            font-size: 18px;
          }
        }
        @include mQ(960px) {
          width: 90%;
          margin-bottom: 100px;
        }
      }
      #asian-mag-cover {
        margin-bottom: 300px;
        width: 80%;
        @include mQ(960px) {
          width: 95%;
          margin-bottom: 100px;
        }
      }
      #asian-mag-toc {
        margin-bottom: 300px;
        width: 80%;
        @include mQ(960px) {
          width: 95%;
          margin-bottom: 100px;
        }
      }
      #asian-mag-spread {
        width: 80%;
        @include mQ(960px) {
          width: 95%;
        }
      }
    }
    #roman-modal {
      text-align: center;
      background: url("backgrounds/RomanMagBG.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      height: 100%;
      @include mQ(750px) {
        background-position: top;
      }
      #roman-description {
        text-align: center;
        width: 80%;
        margin: 0 auto 10%;
        text-shadow: 0 0 2px black;
        h1 {
          color: #25b5e9;
          font-size: 56px;
          font-weight: 700;
          @include mQ(960px) {
            font-size: 36px;
          }
        }
        p {
          color: $white;
          font-size: 36px;
          @include mQ(960px) {
            font-size: 24px;
          }
          @include mQ(750px) {
            font-size: 18px;
          }
        }
        @include mQ(960px) {
          width: 90%;
        }
      }
      #roman-mag-cover {
        margin-bottom: 35%;
        width: 80%;
        @include mQ(960px) {
          width: 95%;
        }
        @include mQ(750px) {
          margin-bottom: 25%;
        }
      }
      #roman-mag-toc {
        margin-bottom: 25%;
        width: 80%;
        @include mQ(960px) {
          width: 95%;
        }
        @include mQ(750px) {
          margin-bottom: 50%;
        }
      }
      #roman-mag-spread {
        width: 80%;
        margin-bottom: 2%;
        @include mQ(960px) {
          width: 95%;
        }
      }
    }
    #logos-modal {
      #logos-header {
        width: 100%;
      }
      #logos-grid {
        width: 80%;
        margin: 200px auto;
        text-align: center;
        img {
          display: block;
          width: 40%;
          height: 100%;
          float: left;
          clear: both;
          &:nth-child(even) {
            float: right;
          }
          @include mQ($wrapperWidth) {
            float: none;
            margin-bottom: 100px;
          }
          @include mQ(750px) {
            width: 100%;
          }
        }
        @include mQ($wrapperWidth) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          margin: 100px auto;
        }
        @include mQ(750px) {
          margin: 100px auto 0;
        }
      }
    }
    #prolific-modal {
      text-align: center;
      #prolific-header {
        width: 100%;
      }
      h1 {
        color: #ac202a;
        font-size: 60px;
        width: 50%;
        padding-bottom: 40px;
        margin: 200px auto 50px;
        border-bottom: 5px solid grey;
        @include mQ(1050px) {
          font-size: 40px;
          width: 95%;
        }
      }
      #mockups {
        background: url("backgrounds/ProlificRedGradient.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
        width: 100%;
        padding: 0 5%;
        margin: 300px auto 0;
        @include mQ(1050px) {
          margin: 100px auto 0;
        }
        .web-mockup {
          width: 75%;
          margin-bottom: 300px;
          @include mQ(1050px) {
            width: 100%;
            margin-bottom: 100px;
          }
        }
        .web-mockup:nth-child(odd) {
          float: right;
        }
        .web-mockup:last-child {
          margin-bottom: 0;
        }
      }
      #mockup {
        width: 90%;
        margin-top: -25%;
      }
      #icons {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        @include mQ(1050px) {
          width: 95%;
        }
        .icon-container {
          flex-basis: 25%;
          margin-bottom: 100px;
          .icon {
            height: 200px;
            margin-bottom: 25px;
          }
          p {
            font-size: 18px;
          }
          @include mQ(1400px) {
            flex-basis: calc(100% / 3);
          }
          @include mQ(1050px) {
            flex-basis: 50%;
          }
          @include mQ(700px) {
            flex-basis: 100%;
          }
        }
      }
    }
    #bsm-modal {
      text-align: center;
      .text-container {
        h3 {
          color: #42B549;
        }
        p {
          color: #666767;
        }
      }
      #bsm-header {
        position: relative;
        text-align: center;
        width: 100%;
        #bsm-header-image {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
        #bsm-logo {
          width: 35%;
          margin: 7% 0;
          @include mQ(960px) {
            width: 60%;
            margin: 24% 0;
          }
        }
      }
      #new-old {
        display: flex;
        width: 80%;
        margin: 200px auto;
        .bsm-logo-box {
          flex-basis: 50%;
          p {
            font-size: 28px;
            color: #42B549;
            @include mQ(500px) {
              font-size: 21px;
            }
          }
          img {
            margin-top: 100px;
            width: 50%;
            @include mQ($wrapperWidth) {
              width: 80%;
            }
            @include mQ(500px) {
              margin-top: 50px;
            }
          }
          @include mQ(500px) {
            width: 100%;
            margin-bottom: 100px;
          }
        }
        @include mQ(750px) {
          width: 95%;
        }
        @include mQ(500px) {
          display: block;
          margin: 100px auto;
        }
      }
      #family-set {
        width: 80%;
        text-align: center;
        margin: auto;
        p {
          color: #42B549;
          font-size: 28px;
          @include mQ(500px) {
            font-size: 21px;
          }
        }
        #family-logos {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          img {
            width: 25%;
            margin: 100px 25px 0;
            @include mQ($wrapperWidth) {
              width: 40%;
              margin: 100px 5% 0;
            }
            @include mQ(500px) {
              margin: 50px 5% 0;
              width: 80%;
            }
          }
          @include mQ(500px) {
            display: block;
          }
        }
        @include mQ(750px) {
          width: 95%;
        }
      }
      #left-bar {
        position: absolute;
        left: 0;
        top: 25%;
        width: 5%;
      }
      #right-bar {
        position: absolute;
        right: 0;
        width: 5%;
        top: 50%;
      }
      #spreads {
        margin: 200px auto 0;
        position: relative;
        width: 80%;
        @include mQ($wrapperWidth) {
          width: 95%;
        }
        img {
          width: 100%;
        }
        .bsm-item {
          width: 50%;
          float: right;
          clear: both;
          &:nth-child(even) {
            float: left;
          }
          @include mQ(750px) {
            width: 100%;
            margin-bottom: 50px;
          }
        }
        .spread-with-header {
          p {
            margin-bottom: 100px;
            color: #42B549;
            font-size: 28px;
            @include mQ(500px) {
              font-size: 21px;
              margin-bottom: 50px;
            }
          }
          #front-back {
            width: 78%;
            margin: auto;
            display: flex;
            p {
              text-align: center;
              flex-basis: 50%;
              margin: 0;
              color: #666767;
              font-size: 23px;
              @include mQ(500px) {
                font-size: 16px;
              }
            }
          }
        }
        #diag-spreads {
          width: 100%;
          margin: 100px auto 0;
          position: relative;
          #diag-left {
            width: 60%;
            position: absolute;
            left: 0;
            top: 500px;
            @include mQ($wrapperWidth) {
              top: 300px;
            }
            @include mQ(750px) {
              position: static;
              width: 100%;
            }
          }
          #diag-right {
            width: 60%;
            position: absolute;
            right: 0;
            @include mQ(750px) {
              position: static;
              width: 100%;
            }
          }
          @include mQ(750px) {
            margin: auto;
          }
        }
      }
    }
    #nalac-modal {
      position: relative;
      text-align: center;
      .text-container {
        p {
          color: #666767;
        }
      }
      #nalac-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
      }
      #nalac-header-logo {
        width: 40%;
        margin: 10% auto;
        z-index: 1;
        @include mQ(750px) {
          width: 60%;
          margin: 5% auto;
        }
      }
      #nalac-text {
        margin-top: 100px;
      }
      .nalac-text-section {
        width: 80%;
        margin: 0 auto 50px;
        text-align: left;
        @include mQ(750px) {
          width: 95%;
        }
        h3 {
          font-size: 46px;
          font-weight: bold;
          margin-bottom: 10px;
          @include mQ(750px) {
            font-size: 26px;
          }
        }
        p {
          color: $grey;
          font-size: 23px;
          @include mQ(750px) {
            font-size: 18px;
          }
        }
      }
      #logo-compare {
        width: 80%;
        margin: 200px auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        @include mQ(750px) {
          width: 95%;
          margin: 200px auto 0;
          .flex-item:nth-child(1) {order: 1};
          .flex-item:nth-child(2) {order: 3};
          .flex-item:nth-child(3) {order: 2};
          .flex-item:nth-child(4) {order: 4};
          .flex-item:nth-child(5) {order: 5};
          .flex-item:nth-child(6) {order: 6};
          .flex-item:nth-child(7) {order: 7};
          .flex-item:nth-child(8) {order: 8};
          .flex-item {
            margin-bottom: 100px;
            &:last-child {
              margin-bottom: 50px;
            }
          }
        }
        p {
          width: 50%;
          margin-bottom: 50px;
          font-size: 22px;
          @include mQ(750px) {
            margin-bottom: 0;
            width: 100%;
          }
        }
        img {
          width: 40%;
          margin: 0 5%;
          @include mQ(750px) {
            width: 100%;
            margin: 0;
          }
        }
        #logos-vertical {
          width: 50%;
          @include mQ(750px) {
            width: 100%;
          }
          img {
            width: 50%;
            margin: 0;
            @include mQ(750px) {
              width: 100%;
            }
          }
        }
      }
      #blue-gradient {
        background: url("backgrounds/NALAC Gradient.png");
        background-position: top;
        width: 100%;
        .image {
          padding: 0;
          flex-basis: 50%;
          @include mQ(750px) {
            flex-basis: 100%;
          }
          img {
            width: 100%;
          }
        }
        #homepage {
          width: 80%;
          margin: 0 auto 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          @include mQ(1200px) {
            padding-top: 5%;
          }
          @include mQ(960px) {
            padding-top: 10%;
          }
          @include mQ(750px) {
            padding-top: 5%;
            margin: 0 auto 100px;
            width: 95%;
          }
          @include mQ(500px) {
            padding-top: 20%;
          }
        }
        #store {
          width: 100%;
          img {
            width: 100%;
          }
          #store-desktop {
            max-width: 1440px;
            margin: auto;
            @include mQ(1440px) {
              display: none;
            }
          }
          #store-cropped {
            width: 100%;
            display: none;
            @include mQ(1440px) {
              display: block;
            }
            @include mQ(750px) {
              display: none;
            }
          }
          #store-mobile {
            width: 100%;
            display: none;
            img {
              margin-bottom: 25px;
            }
            @include mQ(750px) {
              display: block;
            }
          }
        }
        #get-involved {
          img {
            width: 100%;
          }
          width: 80%;
          margin: 200px auto;
          @include mQ(750px) {
            width: 95%;
            margin: 100px auto;
          }
          #get-involved-desktop {
            width: 100%;
            @include mQ(750px) {
              display: none;
            }
          }
          #get-involved-mobile {
            display: none;
            @include mQ(750px) {
              display: block;
            }
            img {
              &:nth-child(2) {
                margin-top: -20%;
              }
            }
          }
        }
        #billboard {
          background: url('backgrounds/NALAC Clouds.png');
          background-size: cover;
          width: 100%;
          margin: auto;
          padding-bottom: 100px;
          display: flex;
          align-items: center;
          .image {
            width: 80%;
            margin: auto;
            @include mQ(750px) {
              width: 100%;
            }
            &:nth-child(2) {
              @include mQ(750px) {
                display: none;
              }
            }
            &:nth-child(3) {
              display: none;
              @include mQ(750px) {
                display: block;
              }
            }
          }
          @include mQ(750px) {
            background: none;
            width: 95%;
            display: block;
            padding-bottom: 0;
          }
        }
      }
    }
    #motion-modal {
      padding: 200px 20% 0;
      background-color: $footer-blue;
      @include mQ($wrapperWidth) {
        padding: 100px 2.5% 0;
      }
      .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      p {
        padding: 10px 0 200px 0;
        text-align: center;
        font-size: 14px;
        color: $grey;
        @include mQ($wrapperWidth) {
          padding: 10px 0 100px 0;
        }
      }
    }
    #jcc-modal {
      #jcc-top, #middle-bottom {
        background: rgb(217,217,217);
background: linear-gradient(180deg, rgba(217,217,217,1) 0%, rgba(255,255,255,1) 50%, rgba(217,217,217,1) 100%);
      }
      #bottom {
        background: #e7c59c;
        padding: 10% 0;
      }
      #middle-bottom {
        padding: 10% 0;
      }
      img {
        max-width: 100%;
      }
      h3 {
        font-size: 38px;
      }
      p {
        font-size: 24px;
      }
      #jcc-desc {
        width: 80%;
        margin: auto;
        text-align: center;
        padding: 10% 0;
        @include mQ(750px) {
          width: 95%;
          h3 {
            font-size: 24px;
          }
          p {
            font-size: 18px;
          }
        }
      }
      #jcc-travel, #advertising {
        width: 80%;
        height: 100%;
        margin: auto;
        padding-bottom: 10%;
        display: flex;
        .jcc-image {
          height: 100%;
          flex-basis: 50%;
        }
        @include mQ(750px) {
          display: block;
        }
      }
      #jcc-cocktail {
        width: 80%;
        margin: auto;
        #cards {
          width: 100%;
          margin: auto;
          padding-bottom: 10%;
          img {
            &:first-child {
              @include mQ(750px) {
                display: none;
              }
            }
            &:last-child {
              display: none;
              @include mQ(750px) {
                display: block;
              }
            }
          }
        }
        #raffle {
          margin: auto;
          width: 80%;
          img {
            padding-bottom: 10%;
          }
          @include mQ(750px) {
            width: 95%;
          }
        }
        #jcc-staggered {
          width: 80%;
          margin: auto;
          img {
            padding-bottom: 10%;
          }
          @include mQ(750px) {
            width: 95%;
          }
          #staggered-left {
            width: 50%;
            float: left;
            @include mQ(750px) {
              float: none;
              width: 100%;
              margin: auto;
            }
          }
          #staggered-right {
            padding-top: 30%;
            width: 50%;
            float: left;
            @include mQ(750px) {
              float: none;
              width: 100%;
              margin: auto;
              padding: 0;
            }
          }
        }
      }
      #blue-section {
        padding: 10% 0 0;
        background: rgb(56,170,232);
background: linear-gradient(260deg, rgba(56,170,232,1) 0%, rgba(102,190,236,1) 100%);
        width: 100%;
        #cover-pen {
          width: 100%;
          box-sizing: border-box;
          padding-left: 10%;
          display: flex;
          margin-bottom: 10%;
          img {
            padding-bottom: 10%;
          }
          @include mQ(750px) {
            width: 95%;
            margin: auto;
            padding: 0;
            display: block;
          }
          #giveaway {
            flex-basis: 50%;
            @include mQ(750px) {
              width: 100%;
            }
          }
          #pen-container {
            position: relative;
            flex-basis: 50%;
            img {
              width: 35%;
              position: absolute;
              right: 0;
              top: 30%;
            }
            @include mQ(750px) {
              display: none;
            }
          }
        }
        #camera {
          width: 100%;
          box-sizing: border-box;
          padding-right: 10%;
          display: flex;
          margin-bottom: 10%;
          @include mQ(750px) {
            width: 95%;
            margin: auto;
            padding: 0;
            display: block;
            img {
              padding-bottom: 10%;
            }
          }
          #camera-container {
            position: relative;
            flex-basis: 50%;
            img {
              width: 60%;
              position: absolute;
              left: 0;
              top: 25%;
            }
            @include mQ(750px) {
              display: none;
            }
          }
          #house {
            flex-basis: 50%;
            @include mQ(750px) {
              width: 100%;
            }
          }
        }
        #happy-holidays, #amazon, #ohm, #card-party {
          width: 80%;
          padding-bottom: 10%;
          @include mQ(750px) {
            width: 95%;
          }
        }
        #annual-meeting {
          width: 80%;
          margin: 0 auto 10%;
          img {
            width: 50%;
            float: left;
            &:last-child {
              padding-top: 15%;
              @include mQ(750px) {
                padding: 0;
              }
            }
          }
          @include mQ(750px) {
            display: block;
            img {
              float: none;
              width: 80%;
              padding-bottom: 10%;
            }
          }
        }
      }
      #party {
        width: 80%;
        margin: 0 auto 10%;
        img {
          width: 50%;
          float: left;
          &:first-child {
            padding-top: 15%;
            @include mQ(750px) {
              padding: 0 0 10%;
            }
          }
        }
        @include mQ(750px) {
          display: block;
          img {
            float: none;
            width: 80%;
          }
        }
      }
      #amazon, #ohm, #party, #card-party {
        padding-top: 10%;
      }
      #amazon, #card-party   {
        @include mQ(750px) {
          padding: 0;
        }
      }
      #road-rules {
        padding-bottom: 10%;
        @include mQ(750px) {
          padding: 0;
        }
        img {
          width: 80%;
          @include mQ(750px) {
            width: 95%;
            margin: auto;
          }
          &:first-child {
            float: left;
            @include mQ(750px) {
              float: none;
            }
          }
          &:last-child {
            float: right;
            @include mQ(750px) {
              float: none;
            }
          }
        }
      }
      #homeless {
        width: 50%;
        @include mQ(750px) {
          width: 80%;
        }
      }
      #advertising {
        @include mQ(750px) {
          img {
            &:first-child {
              padding-bottom: 10%;
            }
          }
        }
      }
    }
  }
}
