@import 'variables';
@import 'mixins';

#animatedModal {
  background-color: $white;
  height: calc(100% - 76px) !important;
  @include mQ(500px) {
    height: calc(100% - 60px) !important;
    top: 60px !important;
  }
  .text-container {
    display: flex;
    width: 90%;
    margin: 100px auto;
    text-align: center;
    .text {
      padding: 0 2%;
      height: 100%;
      h3 {
        font-size: 38px;
        //color: #42B549;
      }
      p {
        font-size: 24px;
        //color: #666767;
        height: auto;
      }
      @include mQ(750px) {
        h3 {
          font-size: 24px;
        }
        p {
          font-size: 18px;
        }
      }
    }
    .line {
      height: 200px;
      width: 10px;
      background-color: #666767;
      align-self: center;
      @include mQ($wrapperWidth) {
        height: 3px;
        width: 200px;
        margin: 50px auto;
      }
    }
    @include mQ($wrapperWidth) {
      display: block;
    }
  }
  .modal-content {
    text-align: center;
    position: relative;
    .modal {
      display: none;
    }
    .faction-logo {
      width: 60%;
      margin: 10% 0;
      @include mQ(960px) {
        width: 95%;
      }
    }
    #hawaiian-modal {
      text-align: center;
      background: url("backgrounds/Hawaiin Background.png");
      position: relative;
      #hawaiian-pouches {
        width: 100%;
      }
      #hawaiian-logo {
        margin-top: 100px;
        width: 50%;
        @include mQ(960px) {
          width: 95%;
          margin-top: 100px;
        }
      }
      #hawaiian-business-cards {
        margin-top: 200px;
        width: 50%;
        @include mQ(960px) {
          width: 95%;
          margin-top: 100px;
        }
      }
      #hawaiian-pouches {
        margin-top: 200px;
        @include mQ(960px) {
          margin-top: 100px;
        }
      }
    }
    #asian-modal {
      text-align: center;
      background: url("backgrounds/AsianMagBg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      #asian-description {
        text-align: center;
        width: 60%;
        margin: 0 auto 200px;
        h1 {
          color: #c12026;
          font-size: 56px;
          font-weight: 700;
          @include mQ(960px) {
            font-size: 36px;
          }
          @include mQ(500px) {
            font-size: 28px;
          }
        }
        p {
          color: #65c0e6;
          font-size: 36px;
          @include mQ(960px) {
            font-size: 24px;
          }
          @include mQ(750px) {
            font-size: 18px;
          }
          @include mQ(500px) {
            font-size: 16px;
          }
        }
        @include mQ(960px) {
          width: 90%;
          margin-bottom: 100px;
        }
      }
      #asian-mag-cover {
        margin-bottom: 300px;
        width: 80%;
        @include mQ(960px) {
          width: 95%;
          margin-bottom: 100px;
        }
      }
      #asian-mag-toc {
        margin-bottom: 300px;
        width: 80%;
        @include mQ(960px) {
          width: 95%;
          margin-bottom: 100px;
        }
      }
      #asian-mag-spread {
        width: 80%;
        @include mQ(960px) {
          width: 95%;
        }
      }
    }
    #roman-modal {
      text-align: center;
      background: url("backgrounds/RomanMagBG.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      height: 100%;
      @include mQ(750px) {
        background-position: top;
      }
      #roman-description {
        text-align: center;
        width: 60%;
        margin: 0 auto 10%;
        text-shadow: 0 0 2px black;
        h1 {
          color: #25b5e9;
          font-size: 56px;
          font-weight: 700;
          @include mQ(960px) {
            font-size: 36px;
          }
          @include mQ(500px) {
            font-size: 28px;
          }
        }
        p {
          color: $white;
          font-size: 36px;
          @include mQ(960px) {
            font-size: 24px;
          }
          @include mQ(750px) {
            font-size: 18px;
          }
          @include mQ(500px) {
            font-size: 16px;
          }
        }
        @include mQ(960px) {
          width: 90%;
        }
        @include mQ(500px) {
          margin: 0 auto 5%;
        }
      }
      #roman-mag-cover {
        margin-bottom: 32%;
        width: 80%;
        @include mQ(960px) {
          width: 95%;
        }
        @include mQ(750px) {
          margin-bottom: 35%;
        }
        @include mQ(500px) {
          margin-bottom: 30%;
        }
      }
      #roman-mag-toc {
        margin-bottom: 25%;
        width: 80%;
        @include mQ(1300px) {
          transform: translateY(-10%);
        }
        @include mQ(960px) {
          width: 95%;
          transform: translateY(0);
        }
        @include mQ(750px) {
          margin-bottom: 30%;
        }
        @include mQ(500px) {
          margin-bottom: 30%;
        }
      }
      #roman-mag-spread {
        width: 80%;
        margin-bottom: 2%;
        @include mQ(960px) {
          width: 95%;
        }
      }
      @include mQ(500px) {
        .faction-logo {
          margin: 5% 0;
        }
      }
    }
    #logos-modal {
      #logos-header {
        width: 100%;
      }
      #logos-grid {
        width: 80%;
        margin: 200px auto;
        text-align: center;
        img {
          display: block;
          width: 40%;
          height: 100%;
          float: left;
          clear: both;
          &:nth-child(even) {
            float: right;
          }
          &:last-child {
            padding-bottom: 10%;
          }
          @include mQ($wrapperWidth) {
              &:last-child {
                padding-bottom: 0;
            }
            float: none;
            margin-bottom: 100px;
          }
          @include mQ(750px) {
            width: 100%;
          }
        }
        @include mQ($wrapperWidth) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          margin: 100px auto;
        }
        @include mQ(750px) {
          margin: 100px auto 0;
          img {
            &:nth-child(3) {
              margin: 0 0 50px;
            }
            &:nth-child(4) {
              margin: 0 0 50px;
            }
          }
        }
      }
    }
    #prolific-modal {
      text-align: center;
      #prolific-header {
        width: 100%;
      }
      h1 {
        color: #ac202a;
        font-size: 60px;
        width: 50%;
        padding-bottom: 40px;
        margin: 100px auto 50px;
        border-bottom: 5px solid grey;
        @include mQ(1050px) {
          font-size: 40px;
          width: 95%;
        }
      }
      #mockups {
        background: url("backgrounds/ProlificRedGradient.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
        width: 100%;
        padding: 0 5%;
        margin: 300px auto 0;
        @include mQ(1050px) {
          margin: 100px auto 0;
        }
        .web-mockup {
          width: 75%;
          margin-bottom: 300px;
          @include mQ(1050px) {
            width: 100%;
            margin-bottom: 10%;
            &:nth-child(1) {
              transform: translateY(-10%);
              margin-bottom: 0;
            }
          }
        }
        .web-mockup:nth-child(odd) {
          float: right;
        }
        .web-mockup:last-child {
          margin-bottom: 0;
        }
      }
      #mockup {
        width: 75%;
        margin-top: -25%;
        @include mQ(750px) {
          width: 95%;
        }
      }
      #icons {
        width: 1525px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        @include mQ(1600px) {
          width: 95%;
        }
        .icon-container {
          flex-basis: 25%;
          margin-bottom: 100px;
          &:nth-child(6) {
            .icon {
              transform: translateX(10px);
            }
          }
          .icon {
            height: 200px;
            margin-bottom: 25px;
          }
          p {
            font-size: 18px;
          }
          @include mQ(1400px) {
            flex-basis: calc(100% / 3);
          }
          @include mQ(1050px) {
            flex-basis: 50%;
          }
          @include mQ(700px) {
            flex-basis: 100%;
          }
        }
      }
    }
    #nalac-modal {
      position: relative;
      text-align: center;
      .text-container {
        p {
          color: #666767;
        }
      }
      #nalac-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
      }
      #nalac-header-logo {
        width: 40%;
        margin: 10% auto;
        z-index: 1;
        @include mQ(750px) {
          width: 60%;
          margin: 5% auto;
        }
      }
      #nalac-text {
        margin-top: 100px;
      }
      .nalac-text-section {
        width: 80%;
        margin: 0 auto 50px;
        text-align: left;
        @include mQ(750px) {
          width: 95%;
        }
        h3 {
          font-size: 46px;
          font-weight: bold;
          margin-bottom: 10px;
          @include mQ(750px) {
            font-size: 26px;
          }
        }
        p {
          color: $grey;
          font-size: 23px;
          @include mQ(750px) {
            font-size: 18px;
          }
        }
      }
      #logo-compare {
        width: 80%;
        margin: 10% auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        #business-cards-mobile {
          display: none;
        }
        @include mQ(750px) {
          margin: 200px auto 0;
          .flex-item:nth-child(1) {order: 1};
          .flex-item:nth-child(2) {order: 3};
          .flex-item:nth-child(3) {order: 2};
          .flex-item:nth-child(4) {order: 4};
          .flex-item:nth-child(5) {order: 5};
          .flex-item:nth-child(6) {order: 6};
          .flex-item:nth-child(7) {order: 7};
          .flex-item:nth-child(8) {order: 8};
          .flex-item:nth-child(9) {order: 9};
          .flex-item {
            margin-bottom: 60px;
            &:last-child {
              margin-bottom: 50px;
            }
          }
        }
        p {
          width: 50%;
          margin-bottom: 50px;
          font-size: 22px;
          @include mQ(750px) {
            margin-bottom: 0;
            width: 100%;
          }
        }
        img {
          width: 40%;
          margin: 0 5%;
          @include mQ(750px) {
            width: 100%;
            margin: 0;
          }
        }
        #logos-vertical {
          width: 50%;
          @include mQ(750px) {
            width: 100%;
          }
          img {
            width: 50%;
            margin: 0;
            @include mQ(750px) {
              width: 100%;
            }
          }
        }
        @include mQ(750px) {
          .business-card-desktop {
            display: none;
          }
          #business-cards-mobile {
            display: block;
          }
        }
      }
      #blue-gradient {
        background: url("backgrounds/NALAC Gradient.png");
        background-position: top;
        width: 100%;
        .image {
          padding: 0;
          flex-basis: 50%;
          @include mQ(750px) {
            flex-basis: 100%;
          }
          img {
            width: 100%;
          }
        }
        #homepage {
          width: 90%;
          padding-bottom: 45%;
          margin: 0 auto 130px;
          transform: translateY(-10%);
          position: relative;
          @include mQ(1200px) {
            transform: translateY(0%);
          }
          @include mQ(960px) {
            padding-bottom: 50%;
          }
          @include mQ(750px) {
            transform: translateY(0);
            padding-bottom: 0%;
          }
          @include mQ(550px) {
            padding-bottom: 25%;
            transform: translateY(15%);
          }
          @include mQ(375px) {
            transform: translateY(20%);
          }
          .image {
            width: 55%;
            &:nth-child(1) {
              position: absolute;
              top: 15%;
              left: 0;
              margin-bottom: 15%;
              @include mQ(960px) {
                top: 35%;
              }
              @include mQ(750px) {
                position: static;
                width: 100%;
              }
            }
            &:nth-child(2) {
              position: absolute;
              top: 0;
              right: 7%;
              @include mQ(960px) {
                top: 20%;
              }
              @include mQ(750px) {
                display: none;
              }
            }
            &:nth-child(3) {
              display: none;
              @include mQ(750px) {
                display: block;
                width: 100%;
              }
            }
          }
        }
        #store {
          width: 100%;
          img {
            width: 100%;
          }
          #store-desktop {
            width: 95%;
            margin: auto;
            @include mQ(1440px) {
              display: none;
            }
          }
          #store-cropped {
            width: 100%;
            display: none;
            @include mQ(1440px) {
              display: block;
            }
            @include mQ(750px) {
              display: none;
            }
          }
          #store-mobile {
            width: 100%;
            display: none;
            img {
              margin-bottom: 25px;
            }
            @include mQ(750px) {
              display: block;
            }
          }
        }
        #get-involved {
          img {
            width: 100%;
          }
          width: 80%;
          margin: 200px auto;
          @include mQ(750px) {
            width: 95%;
            margin: 10% auto;
          }
          #get-involved-desktop {
            width: 100%;
          }
          #get-involved-tablet, #get-involved-mobile {
            display: none;
          }
          @include mQ(960px) {
            #get-involved-desktop, #get-involved-mobile {
              display: none;
            }
            #get-involved-tablet {
              display: block;
            }
          }
          @include mQ(500px) {
            #get-involved-desktop, #get-involved-tablet {
              display: none;
            }
            #get-involved-mobile {
              display: block;
            }
          }
        }
        #billboard {
          background: url('backgrounds/NALAC Clouds.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top;
          width: 100%;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          #billboard-mobile {
            margin-bottom: -1.1%
          }

          .image {
            width: 80%;
            margin: 0 auto;
            padding: 0;
            @include mQ(750px) {
              width: 100%;
            }
            &:nth-child(1) {
              padding: 5% 7% 2% 7%;
            }
            &:nth-child(2) {
              @include mQ(750px) {
                display: none;
              }
            }
            &:nth-child(3) {
              display: none;
              @include mQ(750px) {
                display: block;
              }
            }
          }
          @include mQ(750px) {
            width: 100%;
            display: block;
            padding-bottom: 0;
            background-position: bottom;
            background-size: contain;
          }
        }
      }
    }
    #motion-modal {
      padding: 200px 20% 0;
      background-color: $footer-blue;
      @include mQ($wrapperWidth) {
        padding: 100px 2.5% 0;
      }
      .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      p {
        padding: 10px 0 200px 0;
        text-align: center;
        font-size: 14px;
        color: $grey;
        @include mQ($wrapperWidth) {
          padding: 10px 0 100px 0;
        }
      }
    }
  }
}
