nav {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: $nav-blue;
  text-align: center;
  position: fixed;
  height: 76px;
  @include mQ(500px) {
    height: 60px;
  }
  .nav-links {
    animation-duration: 0.3s;
    @include mQ(500px) {
      display: none;
      height: 100vh;
    }
  }
  //active hamburger menu
  p {
    transition: 0.2s;
    text-align: center;
    padding: 25px 25px;
    color: $white;
    font-size: 21px;
    display: inline-block;
    @include mQ(500px) {
      display: block;
    }
    &:hover {
      color: $bio-blue;
    }
  }
  .nav-links.display {
    display: block;
    background-color: $transparent-blue;
    position: relative;
    .links {
      animation-duration: 0.1s;
      @include mQ(500px) {
        position: absolute;
        top: calc(50% - 152px);
        left: calc(50% - 70.55px);
      }
      .link {
        animation-duration: 0.4s;
      }
      .home-link {
        animation-delay: 0.25s;
      }
      .bio-link {
        animation-delay: 0.3s;
      }
      .work-link {
        animation-delay: 0.35s;
      }
      .contact-link {
        animation-delay: 0.4s;
      }

    }
  }
}
