@import 'variables';
@import 'mixins';
@import 'modals';
@import 'nav';
@import 'header';
@import 'bio';
@import 'work';
@import 'footer';

* {
  box-sizing: border-box;
}
html, body, h1, h2, p, a {
  margin: 0;
  padding: 0;
  font-family: $global-font;
  position: relative;
}
body {
  background-color: $bio-blue;
}
a {
  text-decoration: none;
}

h2 {
  color: $grey;
  font-size: 39px;
  border-bottom: 1px solid $white;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: $labelMargin;
  @include mQ(500px) {
    font-size: 28px;
    width: 90%;
  }
}

//global button style
button {
  transition: 0.2s;
  font-size: 21px;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  background-color: $nav-blue;
  border: 1px solid $nav-blue;
  color: $white;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    color: $nav-blue;
  }
}
