@import 'variables';
@import 'mixins';
@import 'hamburger';
@import 'modals';
@import 'nav';
@import 'header';
@import 'bio';
@import 'work';
@import 'footer';

* {
  box-sizing: border-box;
}
html, body, h1, h2, h3, p, a, img {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: $global-font;
  position: relative;
}
body {
  background-color: $work-blue;
}
#close {
  display: none;
  width: 100%;
  background-color: $nav-blue;
  z-index: 9999;
  position: fixed;
  text-align: center;
  box-shadow: 0 0 3px black;
  height: 76px;
  .close-animatedModal {
    width: 50px;
    padding: 13px 0;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      transform: rotate(90deg);
    }
    @include mQ(500px) {
      width: 40px;
      padding: 10px 0;
    }
  }
  @include mQ(500px) {
    height: 60px;
  }
}
a {
  text-decoration: none;
}

h2 {
  font-weight: bold;
  color: $grey;
  font-size: 32px;
  border-bottom: 1px solid $white;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: $labelMargin;
  @include mQ(500px) {
    font-size: 28px;
    width: 90%;
  }
}

//global button style
button {
  transition: 0.5s;
  font-size: 18px;
  width: 150px;
  padding: 15px 25px;
  border: none;
  border-radius: 2px;
  background-color: $nav-blue;
  border: 1px solid $nav-blue;
  color: $white;
  cursor: pointer;
}
