//colors
$nav-blue: #195996;
$transparent-blue: rgba(25,89,150, 0.9);
$bio-blue: #3498D1;
$work-blue: #57BCE6;
$footer-blue: #a8e8ff;
$light-blue: #DBF0F9;
$white: #FFFFFF;
$grey: #5A5A5A;

//fonts
$global-font: 'Helvetica', serif;

//global spacing
$wrapperWidth: 1260px;
$sectMargin: 100px;
$horzPadding: 10px;
$labelMargin: 25px;
$mobileMargin: 50px;
