@import 'mixins';

#work {
  padding: $sectMargin $horzPadding;
  text-align: center;
  background-color: $work-blue;
  @include mQ(500px) {
    padding: $mobileMargin $horzPadding;
  }
  .projects {
    width: $wrapperWidth;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include mQ($wrapperWidth) {
      width: 100%;
    }
    .project {
      overflow: hidden;
      position: relative;
      flex-basis: 20%;
      box-sizing: border-box;
      @include mQ(960px) {
        flex-basis: calc(100% / 3);
      }
      @include mQ(750px) {
        flex-basis: 50%;
      }
      @include mQ(500px) {
        flex-basis: 100%;
      }
      .box-background {
        transition: 0.5s;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
      .box-background.active {
        transform: scale(1.1);
      }
      .overlay {
        box-sizing: border-box;
        padding: 15px;
        transition: 0.25s;
        opacity: 0;
        color: $white;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        display: table;
        .text {
          display: table-cell;
          vertical-align: middle;
          h3 {
            font-size: 20px;
            opacity: 0;
            transition: 0s;
            transition-delay: 0s;
            transform: translateX(50px);
          }
          p {
            opacity: 0;
            transition: 0s;
            transition-delay: 0s;
            transform: translateY(50px);
          }
        }
      }
      .overlay.active {
        opacity: 1;
        h3 {
          transition: 0.4s;
          transition-delay: 0.15s;
          opacity: 1;
          transform: translateX(0);
        }
        p {
          transition: 0.3s;
          transition-delay: 0.35s;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .project::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    #bsm {
      background-image: url("backgrounds/BSM Cover Box.jpg");
    }
    #nalac {
      background-image: url("backgrounds/NALAC Cover Box.jpg");
    }
    #jcc {
      background-image: url("backgrounds/JCC Cover Box.jpg");
    }
    #prolific {
      background-image: url("backgrounds/Prolific Cover Box.jpg");
    }
    #hawaiian {
      background-image: url("backgrounds/Hawaiin Cover Box.jpg");
    }
    #roman {
      background-image: url("backgrounds/Roman Magazine Cover Box.jpg");
    }
    #asian {
      background-image: url("backgrounds/Asian Magazine Cover Box.jpg");
    }
    #motion {
      background-image: url("backgrounds/Motion Graphics Cover Box.jpg");
    }
  }
}
