@import 'mixins';
@import 'variables';

#work {
  box-sizing: border-box;
  padding: $sectMargin $horzPadding;
  text-align: center;
  background-color: $work-blue;
  @include mQ(500px) {
    padding: $mobileMargin $horzPadding;
  }
  #the-work {
    margin-bottom: 50px;
    width: 400px;
    @include mQ(500px) {
      width: 100%;
    }
  }
  .projects {
    box-sizing: border-box;
    width: 70%;
    max-width: 2500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include mQ($wrapperWidth + 30px) {
      width: 100%;
    }
    .project {
      overflow: hidden;
      position: relative;
      flex-basis: 20%;
      box-sizing: border-box;
      @include mQ($wrapperWidth + 30px) {
        flex-basis: calc(100% / 3);
      }
      @include mQ(850px) {
        flex-basis: 50%;
      }
      @include mQ(500px) {
        flex-basis: 100%;
      }
      .box-background {
        transition: 0.5s;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
      .box-background.active {
        transform: scale(1.1);
      }
      .overlay {
        cursor: pointer;
        box-sizing: border-box;
        padding: 15px;
        transition: 0.25s;
        opacity: 0;
        color: $white;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        display: table;
        .text {
          display: table-cell;
          vertical-align: middle;
          h3 {
            font-size: 20px;
            font-weight: bold;
            opacity: 0;
            transition: 0s;
            transition-delay: 0s;
            transform: translateX(50px);
            padding-bottom: 10px;
          }
          p {
            font-weight: 200px;
            opacity: 0;
            transition: 0s;
            transition-delay: 0s;
            transform: translateY(50px);
          }
        }
      }
      .overlay.active {
        opacity: 1;
        h3 {
          transition: 0.4s;
          transition-delay: 0.15s;
          opacity: 1;
          transform: translateX(0);
        }
        p {
          transition: 0.3s;
          transition-delay: 0.35s;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .project::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    #bsm {
      background-image: url("backgrounds/BSM Cover Box.jpg");
    }
    #nalac {
      background-image: url("backgrounds/NALAC Cover Box.jpg");
    }
    #jcc {
      background-image: url("backgrounds/JCC Cover Box.jpg");
    }
    #prolific {
      background-image: url("backgrounds/Prolific Cover Box.jpg");
    }
    #hawaiian {
      background-image: url("backgrounds/Hawaiin Cover Box.jpg");
    }
    #logos {
      background-image: url("backgrounds/Logos Cover Box.png");
    }
    #roman {
      background-image: url("backgrounds/Roman Magazine Cover Box.jpg");
    }
    #asian {
      background-image: url("backgrounds/Asian Magazine Cover Box.jpg");
    }
    #motion {
      background-image: url("backgrounds/Motion Graphics Cover Box.jpg");
    }
  }
  //3 across
  @include mQ($wrapperWidth + 30px) {
    .project:nth-child(1) {order: 4};
    .project:nth-child(2) {order: 1};
    .project:nth-child(3) {order: 2};
    .project:nth-child(4) {order: 3};
    .project:nth-child(5) {order: 6};
    .project:nth-child(6) {order: 7};
    .project:nth-child(7) {order: 8};
    .project:nth-child(8) {order: 5};
    .project:nth-child(9) {order: 9};
  }
  //2 across
  @include mQ(850px) {
    .project:nth-child(1) {order: 5};
    .project:nth-child(2) {order: 3};
    .project:nth-child(3) {order: 1};
    .project:nth-child(4) {order: 2};
    .project:nth-child(5) {order: 4};
    .project:nth-child(6) {order: 7};
    .project:nth-child(7) {order: 8};
    .project:nth-child(8) {order: 6};
    .project:nth-child(9) {order: 9};
  }
  //1 across
  @include mQ(500px) {
    .project:nth-child(1) {order: 5};
    .project:nth-child(2) {order: 3};
    .project:nth-child(3) {order: 1};
    .project:nth-child(4) {order: 2};
    .project:nth-child(5) {order: 4};
    .project:nth-child(6) {order: 8};
    .project:nth-child(7) {order: 7};
    .project:nth-child(8) {order: 6};
    .project:nth-child(9) {order: 9};
  }
}
